<app-navbar [index]="true"></app-navbar>
<section style="min-height: 600px; height: 95vh; position: relative">
  <swiper
    [pagination]="{
      dynamicBullets: true
    }"
    [parallax]="true"
    [speed]="1500"
    [navigation]="true"
    class="myHomeSlider"
  >
    <ng-template swiperSlide
      ><div
        class="lg:p-32"
        style="
          width: 100%;
          height: 100vh;
          min-height: 600px;
          background-image: url('../../../assets/img/slider1.jpg');
          background-position: right top;
          background-size: cover;
          background-repeat: no-repeat;
        "
      >
        <div
          class="pt-10 sm:-mt-5 slide-cont flex lg:flex-row items-center"
          data-swiper-parallax="-500"
        >
          <div class="lg:basis-6/12">
            <p class="p-thin pb-4">{{'index.header.slider1.light' | translate}}</p>
            <h1 class="pb-4">{{'index.header.slider1.h' | translate}}</h1>
            <p class="text-mute">
              {{'index.header.slider1.p' | translate}}
            </p>
            <button class="mt-8">{{'index.header.slider1.btn' | translate}}</button>
          </div>
        </div>
      </div></ng-template
    >
    <ng-template swiperSlide
      ><div
        class="lg:p-32"
        style="
          width: 100%;
          height: 100vh;
          min-height: 600px;
          background-image: url('../../../assets/img/slider2.jpg');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        "
      >
        <div
          class="slide-cont second flex lg:flex-row items-center"
          data-swiper-parallax="-500"
        >
          <div class="lg:basis-6/12 lg:px-1">
            <p class="p-thin pb-4">{{'index.header.slider2.light' | translate}}</p>
            <h1>{{'index.header.slider2.h' | translate}}</h1>
            <button class="mt-5">{{'index.header.slider2.btn' | translate}}</button>
          </div>
        </div>
      </div></ng-template
    >
    <ng-template swiperSlide
      ><div
        class="lg:p-32"
        style="
          width: 100%;
          height: 100vh;
          min-height: 600px;
          background-image: url('../../../assets/img/slider3.jpg');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        "
      >
        <div
          class="lg:-mt-5 slide-cont flex lg:flex-row items-center"
          data-swiper-parallax="-500"
        >
          <div class="lg:basis-6/12"></div>
          <div class="lg:basis-6/12">
            <p class="p-thin third pb-6">{{'index.header.slider3.light' | translate}}</p>
            <h1>{{'index.header.slider3.h' | translate}}</h1>
            <button class="mt-12">{{'index.header.slider3.btn' | translate}}</button>
          </div>
        </div>
      </div></ng-template
    >
  </swiper>
</section>
<section style="background-color: #f8f9fa">
  <section class="flex sm:flex-row flex-col py-24 container mx-auto">
    <section routerLink="/category-full" class="mx-auto sm:mr-4 sm:mb-0 mb-11 relative category rounded">
      <img src="../../../assets/img/category-women.jpg" alt="" />
      <div class="absolute">{{'index.Women' | translate}}</div>
    </section>
    <section routerLink="/category-full" class="mx-auto sm:ml-4 sm:mb-0 mb-11 relative category rounded">
      <img src="../../../assets/img/category-men.jpg" alt="" />
      <div class="absolute">{{'index.Men' | translate}}</div>
    </section>
  </section>
</section>
<section class="mt-28 container-fluid lg:flex lg:flex-row">
  <section
    class="lg:basis-10/12 xl:basis-8/12 text-center lg:mx-auto px-4 new-arrival"
  >
    <h1>{{'index.Arrival.h' | translate}}</h1>
    <p>
      {{'index.Arrival.p' | translate}}
    </p>
  </section>
</section>
<app-list [index]="true"></app-list>
<section *ngIf="trackerShow" class="my-24 product-offer">
  <div class="img">
    <img src="../../../assets/deal-plain.jpg" alt="" />
    <div class="content-cont flex items-center container mx-auto">
      <div class="content basis-full">
        <p class="title1">{{'index.offer.danger' | translate}}</p>
        <h3 class="title2">{{'index.offer.h' | translate}}</h3>
        <div class="price mb-4">
          <del class="mr-4">$129.00</del><span>$79.00</span>
        </div>
        <span class="off mb-6 rounded">$50 {{'index.offer.off' | translate}}</span>
        <div class="mb-6 grid grid-cols-2 sm:grid-cols-4 xl:w-1/2 lg:w-5/6 bg-white shadow-lg px-12 gap-x-5 py-7">
          <div class="text-center dates sm:mb-0 mb-6">
            <div class="mb-5">{{day}}</div>
            <div>{{'index.offer.day' | translate}}</div>
          </div>
          <div class="text-center dates sm:mb-0 mb-6">
            <div class="mb-5">{{hour}}</div>
            <div>{{'index.offer.hour' | translate}}</div>
          </div>
          <div class="text-center dates sm:mb-0 mb-6">
            <div class="mb-5">{{min}}</div>
            <div>{{'index.offer.min' | translate}}</div>
          </div>
          <div class="text-center dates sm:mb-0 mb-6">
            <div class="mb-5">{{sec}}</div>
            <div>{{'index.offer.sec' | translate}}</div>
          </div>
        </div>
        <button>{{'index.offer.btn' | translate}}</button>
      </div>
    </div>
    
  </div>
</section>
<section [class.mt-24]="!trackerShow" class="history container mx-auto mb-36">
  <h1 class="mb-4">{{'index.history.h' | translate}}</h1>
  <p>
    {{'index.history.p1' | translate}}
  </p>
  <p>
    {{'index.history.p2' | translate}}
  </p>
</section>
<swiper
  class="history-slider flex flex-row pb-5 px-4 mb-24 mx-auto pb-12 mySwiper container mx-auto"
  [pagination]="{
    dynamicBullets: true
  }"
  [slidesPerView]="4"
  [breakpoints]="{
    '1200': {
      slidesPerView: 5,
      spaceBetween: 20
    }
  }"
  [spaceBetween]="15"
  [speed]="1500"
  [navigation]="true"
>
  <ng-template swiperSlide>
    <div class="cont">
      <img src="../../../assets/img/history/1.svg" alt="" />
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="cont">
      <img src="../../../assets/img/history/2.svg" alt="" />
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="cont">
      <img src="../../../assets/img/history/3.svg" alt="" />
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="cont">
      <img src="../../../assets/img/history/4.svg" alt="" />
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="cont">
      <img src="../../../assets/img/history/5.svg" alt="" />
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="cont">
      <img src="../../../assets/img/history/6.svg" alt="" />
    </div>
  </ng-template>
</swiper>
