<app-navbar [index]="false"></app-navbar>
<p class="pt-24 lg:pt-32"></p>
<header class="pt-24 pb-28 container mx-auto">
  <div class="mb-3">
    <span>Home </span>
    <span class="bi bi-dash-lg"></span>
    <span> Order confirmed</span>
  </div>
  <h1>Order confirmed</h1>
  <p class="flex items-center"><span class="far fa-check-circle mr-4"></span> Your order is confirmed.</p>
</header>
<main class="container mx-auto pb-24">
  <section class="msg -mt-2">
      <p>Thank you, Julie. Your order is confirmed.</p>
      <p>Your order hasn't shipped yet but we will send you ane email when it does.</p>
      <button>VIEW OR MANAGE YOUR ORDER</button>
  </section>
  <section class="details grid grid-cols-2 lg:grid-cols-4 gap-x-6 p-12 mt-24">
      <div class="basis-1/4"><span class="block mb-4">ORDER NO.</span><b>2019</b></div>
      <div class="basis-1/4"><span class="block mb-4">DATE</span><b>Mar 2, 2022</b></div>
      <div class="basis-1/4 mt-14 mb-12 lg:mb-0 lg:mt-0"><span class="block mb-4">TOTAL</span><b>$95</b></div>
      <div class="basis-1/4 mt-14 mb-12 lg:mb-0 lg:mt-0"><span class="block mb-4">SHIPPING</span><b>DHL</b></div>
  </section>
</main>
