<section class="item">
  <div class="relative mb-4 imgs">
    <img
      routerLink="/product/{{data.id}}"
      [src]="data.image?.[0]"
      class="absolute hover:opacity-0 duration-500 top-0 left-0 z-0"
    />
    <img [src]="data.image?.[1]" class="w-full h-full" />
    <span class="absolute badge">{{data.status}}</span>
    <div class="absolute bottom-0 left-0 w-full label">
      <ng-container *ngIf="logged">
        <span *ngIf="!cart" (click)="addCart(data)" class="cartitem hover:underline">{{'item.cart' | translate}}</span>
        <span *ngIf="!heart" (click)="addWishlist(data)" class="bi bi-heart ml-auto"></span>
        <span *ngIf="heart" (click)="removeWish(data)" class="fas fa-heart ml-auto"></span>
      </ng-container>
      <span (click)="modalOpen()" class="bi bi-arrows-fullscreen ml-2"></span>
    </div>
  </div>
  <div class="relative">
    <b class="mb-2 block">{{data.name}}</b>
    <span class="muted block">${{data.price}}.00</span>
    <div class="absolute bottom-0 right-0 stars">
      <i class="fas fa-star crem"></i>
      <i class="fas fa-star crem"></i>
      <i class="fas fa-star crem"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
  </div>
</section>
