$gray: #868e96;
$black: #212529;
$crem: #bcac76;
.mute {
  color: $gray;
}
.muted {
  color: #adb5bd;
}
.crem {
  color: $crem;
}

.mat-form-field-label-wrappe{
  display: none;
}
.drop-down{
  position: absolute !important;
  top: 36px !important;
  min-width: 200px !important;
  left: 8px;
  border-radius: 0 !important;
}
.mat-select-panel{
  padding: 3px 0 !important;
}
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: $crem;
  color: white;
}
.mat-option {
  line-height: 3em;
  height: 2.5em !important;
  color: $black;
  letter-spacing: .01em;
}
.mat-option-text{
  font-size: .85em;
  font-family: regular;
}
.product-list {
  .nav {
    & > span:last-child {
      color: $crem;
      font-family: "regular";
      font-size: 12.8px;
      letter-spacing: 0.3em;
    }
    &>span:not(span:last-child){
        line-height: 1.6;
    }
  }
  .nav-full{
    color: $gray;
    $dark-1:#333333;
    $dark-2:#495057;
    .dark-2{
      color:$dark-2;
      font-family: medium;
    }
    .dark-1{
      color:$dark-1;
      font-family: medium;
  }
  .count-num{
    span:not(span:first-child){
      padding: 4.8px;
    }
  }
  .select {
    //REMOVE ITS DESIGN
    .mat-form-field-appearance-fill .mat-form-field-flex{
      padding: 0;
    }
    .mat-select-arrow{
      display: none;
    }
    .mat-select-arrow-wrapper{
      display: block;
      &:hover{
        &::after{
          color: hsl(0, 0%, 60%);
        }
      }
      &::after{
        transition: .15s;
        content: '\f107';
        font-weight: 900;
        padding: 8px;
        font-family: "Font Awesome 5 Free";
        color: hsl(0, 0%, 80%);
      }
    }
    .mat-form-field-underline{
      display: none;
    }
    .mat-select-value{
      text-transform: uppercase;
      padding-left: 2px;
    }
    .mat-form-field-appearance-fill .mat-select-arrow-wrapper{
      transform: translateY(10%);
    }
    .mat-form-field-wrapper{
      padding: 0;
    }
    .mat-form-field-appearance-fill{
      padding: 0;
    }
    .mat-form-field-infix{
      flex: none;
      border-top: none;
      //ADD CUSTOME DESIGN
      width: 200px;
      padding: 8px 4px 8px 8px;
      min-height: 38px;
    }
    .mat-form-field-wrapper{
      border: 1px solid hsl(0, 0%, 80%);
      border-radius: 1px;
      transition: .15s;
      &:hover{
        border: 1px solid hsl(0, 0%, 60%);
      }
      &:focus-within{
        border: 1px solid $crem;
        outline: 5px solid rgba($color: $crem, $alpha: .2);
        border-radius: 0;
      }
    }
    .mat-form-field-flex{
      background-color: transparent;
    }
    .mat-select-min-line{
      font-size: 12.8px;
      font-family: 'medium';
      letter-spacing: .3em;
    }
  }
  
  
}

  .main {
    .muted {
      font-size: 14px;
    }
    b {
      font-family: "regular";
    }
    .badge {
      background-color: #877f64;
      color: white;
      padding: 2px 8px 0 8px;
      font-size: 12px;
      border-radius: 5px;
      top: 15px;
      left: 15px;
    }
    .imgs {
      .label {
        transform: translateY(5%);
        background-color: #ffffffeb;
        height: 3rem;
        display: flex;
        padding: 0px 16px;
        align-items: center;
        span:first-child {
          font-size: 14px;
        }
        span:not(span:first-child) {
          font-size: 18px;
        }
      }
    }
    .stars {  
      transform: translateY(5%);     
      font-size: 11px;
      color: $gray;
    }
    @media only screen and (min-width:768px){
      .stars,.imgs>.label{
        transition: .5s;
          opacity: 0;
          pointer-events: none;
          
        transform: translateY(100%);
      }
      & > section:hover {
          cursor: pointer;
          .label {
            transform: translateY(0);
            pointer-events: all;
            opacity: 1;
          }
          .stars {
            transform: translateY(0);
            pointer-events: all;
            opacity: 1;
          }
        }
    }
  }
}
