$gray: #868e96;
$black: #212529;
$crem: #bcac76;
.mute {
  color: $gray;
}
.muted {
  color: #adb5bd;
}
.crem {
  color: $crem;
}
.product-list {
  .nav {
    & > span:last-child {
      color: $crem;
      font-family: "regular";
      font-size: 12.8px;
      letter-spacing: 0.3em;
    }
    &>span:not(span:last-child){
        line-height: 1.6;
    }
  }
  .nav-full{
    
  }
  .main {
    .muted {
      font-size: 14px;
    }
    b {
      font-family: "regular";
    }
    .badge {
      background-color: #877f64;
      color: white;
      padding: 2px 8px 0 8px;
      font-size: 12px;
      border-radius: 5px;
      top: 15px;
      left: 15px;
    }
    .imgs {
      .label {
        transform: translateY(5%);
        background-color: #ffffffeb;
        height: 3rem;
        display: flex;
        padding: 0px 16px;
        align-items: center;
        span:first-child {
          font-size: 14px;
        }
        span:not(span:first-child) {
          font-size: 18px;
        }
      }
    }
    .stars {  
      transform: translateY(5%);     
      font-size: 11px;
      color: $gray;
    }
    @media only screen and (min-width:768px){
      .stars,.imgs>.label{
        transition: .5s;
          opacity: 0;
          pointer-events: none;
          
        transform: translateY(100%);
      }
      & > section:hover {
          cursor: pointer;
          .label {
            transform: translateY(0);
            pointer-events: all;
            opacity: 1;
          }
          .stars {
            transform: translateY(0);
            pointer-events: all;
            opacity: 1;
          }
        }
    }
  }
}
