<article
  [class.mb-36]="!paginatorShow"
  class="product-list"
>
  <section class="flex flex-wrap nav-full mb-9">
    <div class=" mb-6 mr-4">
     {{'category-full.list.phrase.show' | translate}} <span class="dark-2">{{firstIndex}}-{{lastIndex}}</span> {{'category-full.list.phrase.of' | translate}}
      <span class="dark-2">{{srcProduct?.length}}</span> {{'category-full.list.phrase.product' | translate}}
    </div>
    <div class="basis-full sm:basis-auto ml-auto md:mr-auto mb-4 count-num mr-4">
      <span class="mr-2">{{'category-full.list.page.show' | translate}}</span>
      <span class="mr-2" [class.dark-1]="itemInPage==1" (click)="itemPerPage(1)">2</span>
      <span class="mr-2" [class.dark-1]="itemInPage==3" (click)="itemPerPage(3)">4</span>
      <span #all class="mr-2 dark-1" (click)="allItem()">{{'category-full.list.page.all' | translate}}</span>
    </div>
    <div class="basis-full md:basis-auto md:-mt-2 select">
      <span class="mr-2 inline-block translate-y-1/2">{{'category-full.list.sort.title' | translate}}</span>
      <mat-form-field appearance="fill">
        <mat-select disableOptionCentering panelClass="drop-down" value="1">
          <mat-option (click)="sortBaseDefault()" value="1">
            {{'category-full.list.sort.default' | translate}}
          </mat-option>
          <mat-option (click)="sortBaseRate()" value="2">
            {{'category-full.list.sort.rating' | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </section>
  <section
    class="grid grid-cols-2 gap-x-8 gap-y-5 xl:grid-cols-4 sm:grid-cols-3"
  >
  <ng-container *ngIf="!paginatorShow">
    <app-item *ngFor="let item of products" [data]="item"></app-item> 
  </ng-container> 
  <ng-container *ngIf="paginatorShow">
    <app-item *ngFor="let item of products[page]" [data]="item"></app-item> 
  </ng-container>  
  </section>
</article>

<section *ngIf="paginatorShow" class="flex justify-center mt-7 mb-6 pagination items-center">
  <i tabindex="0" (click)="prevPage()" class="bi bi-chevron-left"></i>
  <ng-container *ngFor="let item of products;let index=index">
    <span *ngIf="index<limitUp && index>=limitDown" tabindex="0" [class.active]="index==page" (click)="pagination(index)">{{index+1}}</span>
  </ng-container>
  <i tabindex="0" (click)="nextPage()" class="bi bi-chevron-right"></i>
</section>