<article
  [class.mb-36]="!paginatorShow"
  class="product-list"
>
  <section class="flex flex-wrap nav-full mb-9">
    <div class=" mb-6 mr-4">
      Showing <span class="dark-2">{{firstIndex}}-{{lastIndex}}</span> of
      <span class="dark-2">{{srcProduct?.length}}</span> products
    </div>
    <div class="basis-full sm:basis-auto ml-auto md:mr-auto mb-4 count-num mr-4">
      <span class="mr-2">Show</span>
      <span class="mr-2" [class.dark-1]="itemInPage==1" (click)="itemPerPage(1)">2</span>
      <span class="mr-2" [class.dark-1]="itemInPage==3" (click)="itemPerPage(3)">4</span>
      <span #all class="mr-2 dark-1">All</span>
    </div>
    <div class="basis-full md:basis-auto md:-mt-2 select">
      <span class="mr-2 inline-block translate-y-1/2">Sort by</span>
      <mat-form-field appearance="fill">
        <mat-select disableOptionCentering panelClass="drop-down" [(ngModel)]="selectedSort">
          <mat-option *ngFor="let sort of sorts" [value]="sort.index">
            {{sort.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </section>
  <section
    class="grid grid-cols-2 gap-x-8 gap-y-5 xl:grid-cols-4 sm:grid-cols-3"
  >
  <ng-container *ngIf="!paginatorShow">
    <app-item *ngFor="let item of products" [data]="item"></app-item> 
  </ng-container> 
  <ng-container *ngIf="paginatorShow">
    <app-item *ngFor="let item of products[page]" [data]="item"></app-item> 
  </ng-container>  
  </section>
</article>

<section *ngIf="paginatorShow" class="flex justify-center mt-7 mb-6 pagination items-center">
  <i tabindex="0" class="bi bi-chevron-left"></i>
  <ng-container *ngFor="let item of products;let index=index">
    <span *ngIf="index<limitUp && index>=limitDown" tabindex="0" [class.active]="index==page" (click)="pagination(index)">{{index+1}}</span>
  </ng-container>
  <i tabindex="0" class="bi bi-chevron-right"></i>
</section>