<app-navbar [index]="false"></app-navbar>
<p class="pt-24 lg:pt-32"></p>
<header class="pt-20 pb-12 container mx-auto">
  <div class="mb-5">
    <span>Home </span>
    <span class="bi bi-dash-lg"></span>
    <span> Shop</span>
  </div>
  <h1>Ladies</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt.
  </p>
</header>
<main class="grid sm:gap-x-9 lg:gap-x-8 gap-y-16 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 container mx-auto pb-36">

  <section class="category rounded">
    <div class="mb-6"><img src="../../assets/cat-item/4.jpg" alt="" /></div>
    <b>Trousers </b><span> 120</span>
  </section>

  <section class="category rounded">
    <div class="mb-6"><img src="../../assets/cat-item/5.jpg" alt="" /></div>
    <b>jackets </b><span> 120</span>
  </section>

  <section class="category rounded">
    <div class="mb-6"><img src="../../assets/cat-item/6.jpg" alt="" /></div>
    <b>T-Shirts </b><span> 120</span>
  </section>

  <section class="category rounded">
    <div class="mb-6"><img src="../../assets/cat-item/7.jpg" alt="" /></div>
    <b>Pullovers </b><span> 120</span>
  </section>
  
  <section class="category rounded">
    <div class="mb-6"><img src="../../assets/cat-item/8.jpg" alt="" /></div>
    <b>Scarfs </b><span> 120</span>
  </section>
  
  <section class="category rounded">
    <div class="mb-6"><img src="../../assets/cat-item/9.jpg" alt="" /></div>
    <b>Shorts </b><span> 120</span>
  </section>
  
  <section class="category rounded">
    <div class="mb-6"><img src="../../assets/cat-item/10.jpg" alt="" /></div>
    <b>Underwear </b><span> 120</span>
  </section>

  
  <section class="category rounded">
    <div class="mb-6"><img src="../../assets/cat-item/11.jpg" alt="" /></div>
    <b>Watches </b><span> 120</span>
  </section>

  
  <section class="category rounded">
    <div class="mb-6"><img src="../../assets/cat-item/12.jpg" alt="" /></div>
    <b>Bags </b><span> 120</span>
  </section>
</main>
