<app-navbar [index]="false"></app-navbar>
<p class="pt-24 lg:pt-32"></p>
<header class="pt-24 pb-28 container mx-auto">
  <div class="mb-3">
    <span>Home </span>
    <span class="bi bi-dash-lg"></span>
    <span> Wishlist</span>
  </div>
  <h1>Wishlist</h1>
  <p>
    You have 3 items in your wishlist. See a version of this template for <span class="crem">signed-in customer</span>.
  </p>
</header>
<main class="container mx-auto pb-24"> 
    <section class="flex product py-8 border-b">
        <div class="basis-5/12 flex first">
            <div class="basis-1/3 pr-10">
                <img src="../../assets/product/1.jpg" alt="">
            </div>
            <div class="flex -ml-5 flex-col justify-center info">
                <b>Ethnic Sweater</b>
                <span>Size: Large</span>
                <span>Colour: Green</span>
            </div>
        </div>
        <div class="basis-7/12 flex flex-row second">
            <div class="basis-1/6 flex items-center justify-center">
                <span>$40</span>
            </div>
            <div class="basis-1/4 flex items-center">
                <span class="bg-crem">In stock</span>
            </div>
            <div class="flex items-center justify-center">
                <span>ADD TO CART</span>
            </div>
            <div class="basis-1/6 flex items-center">
                <span class="bi bi-x-lg"></span>
            </div>
        </div>
    </section>
    <section class="flex product py-6 border-b">
        <div class="basis-5/12 flex first">
            <div class="basis-1/3 pr-10">
                <img src="../../assets/product/1.jpg" alt="">
            </div>
            <div class="flex -ml-5 flex-col justify-center info">
                <b>Ethnic Sweater</b>
                <span>Size: Large</span>
            </div>
        </div>
        <div class="basis-7/12 flex flex-row second">
            <div class="basis-1/6 flex items-center justify-center">
                <span>$40</span>
            </div>
            <div class="basis-1/4 flex items-center">
                <span class="bg-red">Out of stock</span>
            </div>
            <div class="flex items-center justify-center">
                <!-- <span>ADD TO CART</span> -->
            </div>
            <div class="basis-1/6 flex items-center">
                <span class="bi bi-x-lg"></span>
            </div>
        </div>
    </section>
    <section class="flex product py-6">
        <div class="basis-5/12 flex first">
            <div class="basis-1/3 pr-10">
                <img src="../../assets/product/1.jpg" alt="">
            </div>
            <div class="flex -ml-5 flex-col justify-center info">
                <b>Ethnic Sweater</b>
                <span>Size: Large</span>
            </div>
        </div>
        <div class="basis-7/12 flex flex-row second">
            <div class="basis-1/6 flex items-center justify-center">
                <span>$40</span>
            </div>
            <div class="basis-1/4 flex items-center">
                <span class="bg-black">Being restocked</span>
            </div>
            <div class="flex items-center justify-center">
                <!-- <span>ADD TO CART</span> -->
            </div>
            <div class="basis-1/6 flex items-center">
                <span class="bi bi-x-lg"></span>
            </div>
        </div>
    </section>
</main>
