$gray:#868e96;
.gray{
    color:$gray;
}
section{
    span{
        font-size: .875rem;
    }
    h5 {
        letter-spacing: .02em;
      font-size: 1.25rem;
      margin-bottom: 1.2rem;
    }
}
.category {
    .fa-angle-left{
        font-size: .8rem;
    }
  section {
    padding: 19.2px 0;
      img{
        height: 32px;
        display: inline;
        margin-right: 16px;
      }
      span{
          
          font-family: regular;
      }
  }
  ul{
      margin-top: 15px;
      margin-bottom: 15px;
      li{
          margin-bottom: 8px;
          font-family: regular;
          line-height: 1.6;
      }
  }
}
.price{
    h5{
        margin-bottom: 5px;
    }
}
.brand{
    label{
        line-height: 1.9;
        padding-left: 24px;
    }
    .check{
        background-color: white;
        padding: 3px;
        width: 17.5px;height: 17.5px;
        position: absolute;
        top: 50%;transform: translateY(-50%);
        left:0;
        border-radius: 5px;
        transition: .25s;
        border: 1px solid rgba(0,0,0,.25);
    }
    input[type=checkbox]:checked ~ .check{
        background-color: #343a40;
        &::after{
            font-family: "Font Awesome 5 Free"; font-weight: 900;
            content: '\f00c';
            color: white;
            font-size: 8px;
            position: absolute;
            top: 50%;left: 50%;
            transform: translate(-60%,-40%);
        }        
    }
    input[type=checkbox]{
        position: absolute;
        width: 0;height: 0;
    }
    .checkbox{
        position: relative;
        user-select: none;
        display: inline-block;
        padding-right: 35px;
        cursor: pointer;
    }
}
.size{
    label{
        line-height: 1.9;
        padding-left: 24px;
    }
    .rad{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items:  center;
        background-color: white;
        padding: 3px;
        width: 17.5px;height: 17.5px;
        position: absolute;
        top: 50%;transform: translateY(-50%);
        left:0;
        transition: .25s;
        border: 1px solid rgba(0,0,0,.25);
    }
    input[type=radio]:checked ~ .rad{
        background-color: #343a40;
        &::after{
        font-family: "Font Awesome 5 Free"; font-weight: 900;
        content: '\f111';
        color: white;
        font-size: 8px;
        position: absolute;
        top: 50%;left: 50%;
        transform: translate(-50%,-40%);
        }
    }
    input[type=radio]{
        position: absolute;
        width: 0;height: 0;
    }
    .checkbox{
        position: relative;
        user-select: none;
        display: inline-block;
        padding-right: 35px;
        cursor: pointer;
    }
}
.colour{
    label{
        line-height: 1.7;
        padding-left: 24px;
        margin-right: 12.5px;
    }
    h5{
        margin-bottom: 20px;
    }
    .check{
        background-color: white;
        padding: 3px;
        width: 30px;height: 30px;
        position: absolute;
        top: 50%;transform: translateY(-50%);
        left:0;
        border-radius: 50%;
        transition: .25s;
        border: 1px solid rgba(0,0,0,.1);
    }
    input[type=checkbox] ~ .check{
        &::after{
            font-family: "Font Awesome 5 Free"; font-weight: 900;
            content: '\f111';
            font-size: 18px;
            position: absolute;
            top: 50%;left: 50%;
            transform:translate(-50%, -46.379%);
        }        
    }
    .first{
        color: #668cb9;
    }
    .tow{
        color: #fff;
    }
    .three{
        color: #8b6ea4;
    }
    .four{
        color: #dd6265;
    }
    input[type=checkbox]:hover ~ .check{
        border: 1px solid rgba(0,0,0,.2);  
    }
    input[type=checkbox]:checked ~ .check{
        border: 1px solid rgba(0,0,0,.5);  
    }
    input[type=checkbox]{
        position: absolute;
        width: 0;height: 0;
    }
    .checkbox{
        position: relative;
        user-select: none;
        display: inline-block;
        margin-left: 0 5px;
        cursor: pointer;
    }
}
//HOR
.r-90{
    transform: rotate(-90deg) !important;
}
.mat-expansion-panel-header{
    padding: 0;
    .fa-angle-left{
        transform: rotate(0deg);
        transition: .2s;
    }
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: transparent;
}
.mat-expansion-panel-header-title{
    margin-right: 0;
}
.mat-expansion-panel-header {
    height: auto;
}