<app-navbar [index]="false"></app-navbar>
<p class="pt-24 lg:pt-32"></p>
<header class="pt-20 pb-12 container mx-auto">
  <div class="mb-3">
    <span>Home </span>
    <span class="bi bi-dash-lg"></span>
    <span> Shop</span>
  </div>
  <h1>Ladies</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt.
  </p>
</header>
<main class="grid sm:gap-x-9 lg:gap-x-8 gap-y-16 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 container mx-auto pb-36">

  <section *ngFor="let item of categories" class="category rounded">
    <div class="mb-6"><img [src]="item.mainImage" alt="" /></div>
    <b>{{item.name}} </b><span> 120</span>
  </section>

</main>
