$gray: #868e96;
$black: #212529;
$crem: #bcac76;
header {
  padding-left: 15px;
  div>span {
    font-size: 14px;
    letter-spacing: 0.01em;
  }
  span:first-child {
    color: $crem;
  }
  span:nth-child(3) {
    color: $gray;
  }
  span:nth-child(2),
  p {
    color: $gray;
    font-size: 1.25rem;
  }
  h1 {
    font-size: 3.5em;
    line-height: 1;
    margin-bottom: 20px;
    @media only screen and (max-width: 992px) {
      font-size: 1.25em;
    }
  }
}
.category{
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: hidden;
    &:hover > img {
      transition: 0.2s;
      transform: scale(1.02);
    }
  }
  &>b{
    font-family: 'regular';
    font-size: 1.25rem;
  }
  &>span{
    font-size: .875rem;
    color: $gray;
    font-family: 'regular';
  }
  @media only screen and (max-width:640px) {
    width: 410px;
    }
  @media only screen and (max-width:500px) {
      width: 100%;
  }
  
}
