<nav id="nav" class="w-full">
  <section
    [class.upper-navbar-bg]="!index"
    class="upper-navbar columns-1 sm:columns-2 md:columns-3 px-4 lg:px-12 flex align-items"
  >
    <div class="hidden md:inline-flex items-center w-full">
      <i class="fab fa-facebook-f mr-1 inline-block"></i>
      <i class="fab fa-twitter mx-1 inline-block"></i>
      <span class="ml-5 mr-6 inline-block relative"
        ><i
          style="transform: translateY(-1%)"
          class="absolute bi bi-telephone text-lg"
        ></i>
        <span class="pl-7">020-800-456-747</span></span
      >
    </div>
    <div class="md:justify-center inline-flex items-center w-full">
      {{navbar?.title}}
    </div>
    <div class="hidden justify-end sm:inline-flex items-center w-full">
      <button mat-button [matMenuTriggerFor]="lang" class="mx-4">
        {{ ('navbar.lang' | translate)[0] }} <i class="fas fa-caret-down"></i>
      </button>
      <mat-menu class="mt-4 py-2" #lang="matMenu" xPosition="before">
        <section class="mat-upper-nav">
          <b (click)="translator('deu')" mat-menu-item class="mat-item font-medium">{{('navbar.lang' | translate)[1]}}</b>
          <b (click)="translator('fr')" mat-menu-item class="mat-item font-medium">{{('navbar.lang' | translate)[2]}}</b>
        </section>
      </mat-menu>
      <button
        mat-button
        [matMenuTriggerFor]="usd"
        class="pl-4"
        style="border-left: 1px solid #dee2e6"
      >
      {{ ('navbar.money' | translate)[0] }} <i class="fas fa-caret-down"></i>
      </button>
      <mat-menu
        class="mt-4 py-2"
        #usd="matMenu"
        xPosition="before"
        yPosition="below"
      >
        <section class="mat-upper-nav">
          <b mat-menu-item class="mat-item font-medium">{{ ('navbar.money' | translate)[1] }}</b>
          <b mat-menu-item class="mat-item font-medium">{{ ('navbar.money' | translate)[2] }}</b>
        </section>
      </mat-menu>
    </div>
  </section>
  <section
    [ngClass]="[Menu ? 'bg-white' : '']"
    class="lg:py-5 py-2 lg:px-12 main-navbar"
  >
    <section class="flex items-center lg:px-0 px-2">
      <span class="text-black w-full py-2 lg:w-auto lg:mr-4">{{ 'navbar.brand' | translate }}</span>
      <!-- LARGE SCREEN MENU -->
      <ul class="hidden lg:block menu-cont">
        <li
          #homeAngle="matMenuTrigger"
          mat-button
          [matMenuTriggerFor]="home"
          class="inline-block p-2 pr-2"
          [ngClass]="homeAngle.menuOpen ? 'text-black' : ''"
        >
        {{ ('navbar.menu.home.name' | translate) }} 
          <i
            [ngClass]="homeAngle.menuOpen ? 'angle-180' : 'angle-0'"
            class="fas text-xs fa-angle-down"
          ></i>
        </li>
        <mat-menu class="mt-4 py-2" #home="matMenu">
          <button *ngFor="let item of 'navbar.menu.home.submenu' | translate " mat-menu-item class="mat-item mat-submenu-item">
            {{ item[0] }}
            <b *ngIf="item[1]" class="new inline-block rounded ml-1 fs-10">{{'navbar.new' | translate}}</b>
          </button>
        </mat-menu>
        <li
          #shopAngle="matMenuTrigger"
          [matMenuTriggerFor]="shop"
          class="inline-block p-2 pr-2"
          [ngClass]="shopAngle.menuOpen ? 'text-black' : ''"
        >
        {{ ('navbar.menu.shop.name' | translate) }} 
          <i
            [ngClass]="shopAngle.menuOpen ? 'angle-180' : 'angle-0'"
            class="fas text-xs fa-angle-down"
          ></i>
        </li>
        <mat-menu class="mt-4 p-0" #shop="matMenu">
          <section class="flex">
            <div class="mat-shop-item pl-8 py-12 pr-0">
              <b class="py-2 inline-block">{{('navbar.menu.shop.menus' | translate)[0]?.b}}</b>
              <span *ngFor="let item of ('navbar.menu.shop.menus' | translate)[0]?.span" [ngClass]="[item[1] ? 'inline-block withNew': '']" class="mat-item">
                {{item[0]}}
                <b *ngIf="item[1]" class="new inline-block rounded ml-1 fs-10">{{'navbar.new' | translate}}</b>
              </span>
              
            </div>
            <div class="mat-shop-item pl-4 py-12 pr-12 ">
              <b class="py-2 inline-block">{{('navbar.menu.shop.menus' | translate)[1]?.b}}</b>
              <span *ngFor="let item of ('navbar.menu.shop.menus' | translate)[1]?.span" [ngClass]="[item[1] ? 'inline-block withNew': '']" class="mat-item">
                {{item[0]}}
                <b *ngIf="item[1]" class="new inline-block rounded ml-1 fs-10">{{'navbar.new' | translate}}</b>
              </span>
            </div>
            <div
              style="
                background: url('../assets/img/shop-menu.jpg') no-repeat center;
                background-size: cover;
                width: 249px;
              "
            ></div>
          </section>
        </mat-menu>
        <li
          #iconsAngle="matMenuTrigger"
          [matMenuTriggerFor]="icons"
          class="inline-block p-2 pr-2"
        >
          Icons
          <i
            [ngClass]="iconsAngle.menuOpen ? 'angle-180' : 'angle-0'"
            class="fas text-xs fa-angle-down"
          ></i>
        </li>
        <mat-menu class="mt-4 p-0" #icons="matMenu">
          <section class="mat-icons">
            <section *ngIf="categories" class="main grid grid-cols-6 pt-12 px-6">
              <div  *ngFor="let category of categories" routerLink="/category">
                <div><img width="48px" [src]="category.mainImage" alt="" /></div>
                <div><h6>{{category.name}}</h6></div>
              </div>
            </section>
            <section class="p-4 text-center fs-14 footer">
              <p>
                {{'navbar.menu.iconTxt' | translate}}
              </p>
            </section>
          </section>
        </mat-menu>
        <li
          id="togglePage"
          tabindex="0"
          class="text-black inline-block p-2 pr-2"
        >
        {{('navbar.menu.page.name' | translate)}} <i class="fas text-xs fa-angle-down"></i>
        </li>
        <section
          id="pageSub"
          class="bg-white flex flex-row submenu-page shadow-xl rounded-xl p-12"
        >
          <section class="basis-1/4">
            <img class="mb-7" src="../assets/img/pages-menu-1.jpg" alt="" />
            <div class="mb-5">
              <b class="mb-2 text-black">{{navbar?.menu.page.cols[0][0].b}}</b>
              <span *ngFor="let item of navbar?.menu.page.cols[0][0].span" class="mat-item pb-1">
                {{item[0]}}
                <b  class="new inline-block rounded">{{'navbar.new' | translate}}</b>
              </span>
            </div>
            <div class="mb-5">
              <b class="mb-2 text-black">{{navbar?.menu.page.cols[0][1].b}}</b>
              <span style="white-space: nowrap;" *ngFor="let item of navbar?.menu.page.cols[0][1].span" class="mat-item pb-1">
                {{item[0]}}
                <b *ngIf="item[1]" class="new inline-block rounded">{{'navbar.new' | translate}}</b>
              </span>
            </div>
          </section>
          <section class="basis-1/4">
            <img class="mb-7" src="../assets/img/pages-menu-2.jpg" alt="" />
            <div class="mb-5">
              <b class="mb-2 text-black">{{navbar?.menu.page.cols[1][0].b}}</b>
              <span *ngFor="let item of navbar?.menu.page.cols[1][0].span" class="mat-item pb-1">
                {{item[0]}}
                <b *ngIf="item[1]" class="new inline-block rounded">{{'navbar.new' | translate}}</b>
              </span>
            </div>
            <div class="mb-5">
              <b class="mb-2 text-black">{{navbar?.menu.page.cols[1][1].b}}</b>
              <span *ngFor="let item of navbar?.menu.page.cols[1][1].span" class="mat-item pb-1">
                {{item[0]}}
                <b *ngIf="item[1]" class="new inline-block rounded">{{'navbar.new' | translate}}</b>
              </span>
            </div>
          </section>
          <section class="basis-1/4">
            <img class="mb-7" src="../assets/img/pages-menu-3.jpg" alt="" />

            <div class="mb-5">
              <b class="mb-2 text-black">{{navbar?.menu.page.cols[2][0].b}}</b>
              <span *ngFor="let item of navbar?.menu.page.cols[2][0].span" class="mat-item pb-1">
                {{item[0]}}
                <b *ngIf="item[1]" class="new inline-block rounded">{{'navbar.new' | translate}}</b>
              </span>
            </div>
            <div class="mb-5">
              <b class="mb-2 text-black">{{navbar?.menu.page.cols[2][1]?.b}}</b>
              <span *ngFor="let item of navbar?.menu.page.cols[2][1]?.span" class="mat-item pb-1">
                {{item[0]}}
                <b *ngIf="item[1]" class="new inline-block rounded">{{'navbar.new' | translate}}</b>
              </span>
            </div>
          </section>
          <section class="basis-1/4">
            <img class="mb-7" src="../assets/img/pages-menu-4.jpg" alt="" />
            <div class="mb-5">
              <b class="mb-2 text-black">{{navbar?.menu.page.cols[3][0]?.b}}</b>
              <span *ngFor="let item of navbar?.menu.page.cols[3][0]?.span" class="mat-item pb-1">
                {{item[0]}}
                <b *ngIf="item[1]" class="new inline-block rounded">{{'navbar.new' | translate}}</b>
              </span>
            </div>
          </section>
        </section>
      </ul>
      <form class="ml-auto mr-24 hidden lg:block">
        <div id="searchBox" class="inline-flex flex-nowrap items-center">
          <input
            style="height: 40px"
            [placeholder]="'navbar.search' | translate"
            class="border-b inline-block py-1 pr-3 pl-4"
            type="text"
            [class.bg-transparent]="index"
          />
          <i
            style="height: 40px"
            class="fas fa-search border-b inline-flex items-center py-1 px-3 cursor-pointer"
          ></i>
        </div>
      </form>
      <ul class="hidden lg:block">
        <li routerLink="/security" class="inline-block">
          <i style="font-size: 27px" class="far mr-2 fa-user"></i>
        </li>
        <li routerLink="/wishlist" class="inline-block">
          <span
            matBadge="1"
            style="font-size: 27px"
            class="far ml-3 fa-heart"
          ></span>
        </li>
        <li class="inline-block">
          <span
            matBadge="6"
            style="font-size: 27px"
            class="bi ml-3 bi-bag"
            (click)="drawer2.toggle()"
          ></span>
        </li>
        <li class="inline-block">
          <i
            (click)="drawer.toggle()"
            style="font-size: 27px"
            class="fas ml-3 fa-align-left cursor-pointer"
          ></i>
        </li>
      </ul>
      <!-- NAVBAR IN SMALL SCREEN -->
      <div class="lg:hidden w-full flex flex-nowrap pl-4 ml-1 justify-center">
        <i
          routerLink="/security"
          class="far text-2xl mr-2 fa-user cursor-pointer"
        ></i>
        <span
          routerLink="/wishlist"
          matBadge="1"
          class="far text-2xl ml-3 fa-heart cursor-pointer"
        ></span>
        <span 
          matBadge="6"
          class="bi text-2xl ml-3 bi-bag cursor-pointer"
          (click)="drawer2.toggle()"
        ></span>
      </div>
      <div class="lg:hidden w-full text-right">
        <i
          tabindex="0"
          (click)="responsiveMenu()"
          class="fas text-2xl ml-3 fa-align-left cursor-pointer"
        ></i>
      </div>
    </section>
    <!-- RESPONSIVE MENU OPEN -->
    <section #contMenu class="px-2" id="responsiveMenu">
      <ul class="mt-5 menu-cont">
        <li tabindex="0" style="min-height: 42px" class="py-2 pb-2 flex flex-wrap">
          {{'navbar.menu.home.name' | translate}} <i class="fas ml-auto mr-2 text-xs fa-angle-down"></i>
          <ul class="menu-cont basis-full">
            <li *ngFor="let item of 'navbar.menu.home.submenu' | translate" class="mat-item">{{item[0]}}
              <b *ngIf="item[1]" class="new inline-block rounded ml-1 fs-10">{{'navbar.new' | translate}}</b>
            </li>
          </ul>
        </li>
        <li tabindex="0" style="min-height: 42px" class="flex flex-wrap py-2 items-center">
          {{'navbar.menu.shop.name' | translate}} <i class="fas ml-auto mr-2 text-xs fa-angle-down"></i>
          <ul class="menu-cont basis-full flexible">
            <div class="-mt-3">
              <b class="fs-14 inline-block mat-title">{{('navbar.menu.shop.menus' | translate)[0]?.b}}</b>
              <li *ngFor="let item of ('navbar.menu.shop.menus' | translate)[0]?.span" [ngClass]="[item[1] ? 'inline-block withNew': '']"  class="mat-item">{{item[0]}}
                <b *ngIf="item[1]" class="new inline-block rounded ml-1 fs-10">{{'navbar.new' | translate}}</b>
              </li>
            </div>
            <div class="ml-12">
              <b class="fs-14 inline-block mat-title">{{('navbar.menu.shop.menus' | translate)[1]?.b}}</b>
              <li *ngFor="let item of ('navbar.menu.shop.menus' | translate)[1]?.span" [ngClass]="[item[1] ? 'inline-block withNew': '']"  class="mat-item">{{item[0]}}
                <b *ngIf="item[1]" class="new inline-block rounded ml-1 fs-10">{{'navbar.new' | translate}}</b>
              </li>
            </div>
          </ul>
        </li>


        <li tabindex="0" style="min-height: 42px" class="flex flex-wrap py-2 items-center">
          {{'navbar.menu.icon' | translate}} <i class="fas ml-auto mr-2 text-xs fa-angle-down"></i>
          <ul class="menu-cont basis-full custom-columns pl-4">
            <div routerLink="/category">
              <img width="48px" src="../assets/icon/trousers.png" alt="" />
              <h6>Trousers</h6>
            </div>
            <div>
              <img width="48px" src="../assets/icon/shorts.png" alt="" />
              <h6>Shorts</h6>
            </div>
            <div>
              <img width="48px" src="../assets/icon/jacket.png" alt="" />
              <h6>Jackets</h6>
            </div>
            <div>
              <img width="48px" src="../assets/icon/underwear.png" alt="" />
              <h6>Underwear</h6>
            </div>
            <div>
              <img width="48px" src="../assets/icon/tshirt.png" alt="" />
              <h6>T-Shirts</h6>
            </div>
            <div>
              <img width="48px" src="../assets/icon/watches.png" alt="" />
              <h6>Watches</h6>
            </div>
            <div>
              <img width="48px" src="../assets/icon/shirt.png" alt="" />
              <h6>Shirts</h6>
            </div>
            <div>
              <img width="48px" src="../assets/icon/bags.png" alt="" />
              <h6>Bags</h6>
            </div>
            <div>
              <img width="48px" src="../assets/icon/pullover.png" alt="" />
              <h6>Pullovers</h6>
            </div>
            <div>
              <img width="48px" src="../assets/icon/cap.png" alt="" />
              <h6>Caps</h6>
            </div>
            <div>
              <img width="48px" src="../assets/icon/scarf.png" alt="" />
              <h6>Scarfs</h6>
            </div>
            <div>
              <img width="48px" src="../assets/icon/accessories.png" alt="" />
              <h6>Accessories</h6>
            </div>
          </ul>
        </li>

        <li tabindex="0" style="min-height: 42px" class="flex flex-wrap pt-2 items-center text-black">
          {{'navbar.menu.page.name' | translate}} <i class="fas ml-auto mr-2 text-xs fa-angle-down"></i>
          <ul class="menu-cont basis-full flexible pages-flexible">
            <div class="-mt-3">
              <b class="fs-14 inline-block mat-title">{{navbar?.menu.page.cols[0][0].b}}</b>
              <li *ngFor="let item of navbar?.menu.page.cols[0][0]?.span" class="mat-item">{{item[0]}}
                <b *ngIf="item[1]" class="new inline-block rounded ml-1 fs-10">{{'navbar.new' | translate}}</b>
              </li>
              <!-- <br> -->
              <b class="fs-14 mt-3 inline-block mat-title">{{navbar?.menu.page.cols[0][1]?.b}}</b>
              <li *ngFor="let item of navbar?.menu.page.cols[0][1]?.span" [ngClass]="[item[1] ? 'inline-block withNew': '']" class="mat-item">
                {{item[0]}}<b *ngIf="item[1]"
                  class="new inline-block rounded ml-1 fs-10"
                  >{{'navbar.new' | translate}}</b
                >
              </li>
              <!-- <br> -->
              <b class="fs-14 mt-3 inline-block mat-title">{{navbar?.menu.page.cols[2][0]?.b}}</b>
              <li *ngFor="let item of navbar?.menu.page.cols[2][0]?.span" class="mat-item">{{item[0]}}</li>
              <!-- <br> -->
              <b class="fs-14 mt-3 inline-block mat-title">{{navbar?.menu.page.cols[2][1]?.b}}</b>
              <li *ngFor="let item of navbar?.menu.page.cols[2][1]?.span" class="mat-item"
                >{{item[0]}} <b *ngIf="item[1]" class="new inline-block rounded">{{'navbar.new' | translate}}</b></li
              >
            </div>

            <div class="ml-14">
              <b class="fs-14 inline-block mat-title">{{navbar?.menu.page.cols[1][0]?.b}}</b>
                <li *ngFor="let item of navbar?.menu.page.cols[1][0]?.span" class="mat-item"
                  >{{item[0]}}
                  <b *ngIf="item[1]" class="new inline-block rounded">{{'navbar.new' | translate}}</b></li
                >
                <!-- <br> -->
              <b class="fs-14 mt-3 inline-block mat-title">{{navbar?.menu.page.cols[1][1]?.product}}</b>
              <li *ngFor="let item of navbar?.menu.page.cols[1][1]?.span" class="mat-item">{{item[0]}}</li>
              <!-- <br> -->
              <b class="fs-14 inline-block mt-24 mat-title">{{navbar?.menu.page.cols[3][0]?.b}}</b>
                <li *ngFor="let item of navbar?.menu.page.cols[3][0]?.span" class="mat-item"
                  >{{item[0]}} <b *ngIf="item[1]" class="new inline-block rounded">{{'navbar.new' | translate}}</b></li
                >
            </div>
          </ul>
        </li>

      </ul>
      <form class="mt-9 mb-5">
        <div id="searchResponsive" class="inline-flex flex-nowrap items-center">
          <input
            style="height: 40px"
            [placeholder]="'navbar.search' | translate"
            class="border-b inline-block py-1 pr-3 pl-4"
            type="text"
          />
          <i
            style="height: 40px"
            class="fas fa-search border-b inline-flex items-center py-1 px-3 cursor-pointer"
          ></i>
        </div>
      </form>
    </section>
  </section>
  
</nav>
<mat-drawer-container class="sidenav-container" autosize [hasBackdrop]="true">
  <mat-drawer #drawer class="sidenav" mode="side" position="end">
    <div class="flex justify-end p-4">
      <i (click)="drawer.toggle()" class="fas text-3xl px-2 fa-times"></i>
    </div>
    <div class="p-12 pt-4 info">
      <h5 class="font-bold">{{'navbar.sidebar.varkala' | translate}}</h5>
      <ul class="mb-12">
        <li class="py-3">{{'navbar.sidebar.home' | translate}}</li>
        <li class="py-3">{{'navbar.sidebar.link' | translate}}</li>
        <li class="py-3 disabled">{{'navbar.sidebar.disable' | translate}}</li>
        <li class="py-3">{{'navbar.sidebar.dropdown' | translate}} <i class="fas fa-caret-down"></i></li>
      </ul>
      <div class="flex items-center mb-6">
        <i class="fab mr-2 fa-facebook-f inline-block"></i>
        <i class="fab mr-2 fa-twitter inline-block"></i>
        <span class="inline-block"
          ><i class="mr-2 bi bi-telephone text-lg"></i> 020-800-456-747</span
        >
      </div>
      <p class="description text-sm">
        {{'navbar.sidebar.text' | translate}}
      </p>
    </div>
  </mat-drawer>
</mat-drawer-container>

<mat-drawer-container class="sidenav-container" autosize [hasBackdrop]="true">
  <mat-drawer #drawer2 class="sidenav" mode="side" position="end">
    <div class="flex justify-end p-4">
      <i (click)="drawer2.toggle()" class="fas text-3xl px-2 fa-times"></i>
    </div>
    <div class="pt-4 bag">
      <div class="main px-12 py-4">
        <!-- USE TRANSLATE NGX, JUST FOR ONE PRODUCT!  -->
        <section class="pb-9 flex product border-b">
          <div class="basis-1/5">
            <img src="../../../assets/product/4.jpg" alt="" />
          </div>
          <div
            class="pl-4 flex product-content content-around grid content-around w-full py-3"
          >
            <div class="flex head">
              <b>White Tee              
            <div class="border-c"></div></b
              ><i style="font-size: 24px" class="bi bi-x ml-auto"></i>
            </div>
            <span class="qunt">{{'navbar.bag.quantity' | translate}}: 1</span>
            <span class="price">$40</span>
          </div>
        </section>
        <section class="pt-8 pb-9 flex product border-b">
          <div class="basis-1/5">
            <img src="../../../assets/product/4.jpg" alt="" />
          </div>
          <div
            class="pl-4 flex product-content content-around grid content-around w-full py-3"
          >
            <div class="flex head">
              <b>White Tee              
                <div class="border-c"></div></b
              ><i style="font-size: 24px" class="bi bi-x ml-auto"></i>
            </div>
            <span class="qunt">Quantity: 1</span>
            <span class="price">$40</span>
          </div>
        </section>
        <section class="pt-8 pb-9 flex product border-b">
          <div class="basis-1/5">
            <img src="../../../assets/product/4.jpg" alt="" />
          </div>
          <div
            class="pl-4 flex product-content content-around grid content-around w-full py-3"
          >
            <div class="flex head">
              <b>White Tee              
                <div class="border-c"></div></b
              ><i style="font-size: 24px" class="bi bi-x ml-auto"></i>
            </div>
            <span class="qunt">Quantity: 1</span>
            <span class="price">$40</span>
          </div>
        </section>
        <section class="pt-8 pb-9 flex product border-b">
          <div class="basis-1/5">
            <img src="../../../assets/product/4.jpg" alt="" />
          </div>
          <div
            class="pl-4 flex product-content content-around grid content-around w-full py-3"
          >
            <div class="flex head">
              <b>White Tee              
                <div class="border-c"></div></b
              ><i style="font-size: 24px" class="bi bi-x ml-auto"></i>
            </div>
            <span class="qunt">Quantity: 1</span>
            <span class="price">$40</span>
          </div>
        </section>
        <section class="pt-8 pb-9 flex product border-b">
          <div class="basis-1/5">
            <img src="../../../assets/product/4.jpg" alt="" />
          </div>
          <div
            class="pl-4 flex product-content content-around grid content-around w-full py-3"
          >
            <div class="flex head">
              <b>White Tee              
                <div class="border-c"></div></b
              ><i style="font-size: 24px" class="bi bi-x ml-auto"></i>
            </div>
            <span class="qunt">Quantity: 1</span>
            <span class="price">$40</span>
          </div>
        </section>
        <section class="pt-8 flex product">
          <div class="basis-1/5">
            <img src="../../../assets/product/4.jpg" alt="" />
          </div>
          <div
            class="pl-4 flex product-content content-around grid content-around w-full py-3"
          >
            <div class="flex head">
              <b>White Tee              
                <div class="border-c"></div></b
              ><i style="font-size: 24px" class="bi bi-x ml-auto"></i>
            </div>
            <span class="qunt">Quantity: 1</span>
            <span class="price">$40</span>
          </div>
        </section>
      </div>
      <div class="footer px-12 pt-10">
        <div class="flex mb-7">
          <b>{{'navbar.bag.subtotal' | translate}}:</b>
          <b class="ml-auto">$465.32</b>
        </div>
        <button routerLink="/shopping" class="w-full viewcart mb-4">{{'navbar.bag.cart' | translate}}</button>
        <button class="w-full checkout">{{'navbar.bag.check' | translate}}</button>
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>
