<article class="dialogComponent grid lg:grid-cols-2 grid-cols-1 relative">
  <i (click)="closeDialog()" style="font-size: 27px;" class="absolute z-50 hover:rotate-90 cursor-pointer duration-300 fas fa-times right-5 top-3"></i>
  <span [ngClass]="[(data.status=='Fresh')?'badge-fresh':'',(data.status=='Out of stock')?'badge-out':'',(data.status=='Being restocked')?'badge-come':'',(data.status=='In stock')?'badge-in':'']" class="absolute badge">{{data.status}}</span>
  <section class="lg:pr-4 pb-5 lg:pb-0">
    <swiper
      style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff"
      [spaceBetween]="100"
      [thumbs]="{ swiper: thumbsSwiper }"
      class="mySwiper2"
    >
      <ng-template swiperSlide>
        <img [src]="data.image[0]" />
      </ng-template>
      <ng-template swiperSlide>
        <img [src]="data.image[1]" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/product-detail/3.jpg" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/product-detail/4.jpg" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/product-detail/5.jpg" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/product-detail/6.jpg" />
      </ng-template>
    </swiper>
    <swiper
      (swiper)="thumbsSwiper = $event"
      [spaceBetween]="13"
      [slidesPerView]="6"
      [freeMode]="true"
      [watchSlidesProgress]="true"
      class="mySwiper grid grid-cols-6"
    >
    <ng-template swiperSlide>
      <img [src]="data.image[0]" />
    </ng-template>
    <ng-template swiperSlide>
      <img [src]="data.image[1]" />
    </ng-template>
    <ng-template swiperSlide>
      <img src="../../../assets/product-detail/3.jpg" />
    </ng-template>
    <ng-template swiperSlide>
      <img src="../../../assets/product-detail/4.jpg" />
    </ng-template>
    <ng-template swiperSlide>
      <img src="../../../assets/product-detail/5.jpg" />
    </ng-template>
    <ng-template swiperSlide>
      <img src="../../../assets/product-detail/6.jpg" />
    </ng-template>
    </swiper>
  </section>
  <section class="details lg:p-12">
    <h2>{{data.name}}</h2>
    <p class="flex pb-3 flex-wrap">
      <span class="price basis-full sm:mb-0 mb-2 sm:basis-auto">
        <span class="mr-2">${{(data.price)-(((data.price)*(data.discount.percent))/100)}}</span><span>${{data.price}}</span>
      </span>
      <span class="basis-full sm:basis-auto ml-auto">
        <span class="stars pr-2">
          <i class="fas fa-star crem"></i>
          <i class="fas fa-star crem"></i>
          <i class="fas fa-star crem"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
      </span>
      <span class="review">{{data.reviews}} {{'dialog.review' | translate}}</span>
      </span>
    </p>
    <p class="mute pb-3">
      {{data.description}}
    </p>
    <div class="flex flex-wrap">
      <div class="select lg:basis-full basis-full sm:basis-auto mb-6">
        <div class="mb-2">
          <b>{{'dialog.size' | translate}} </b><span class="light"> ({{'dialog.requir' | translate}})</span>
        </div>

        <mat-form-field appearance="fill">
          <mat-select disableOptionCentering panelClass="drop-down" [(ngModel)]="selectedSort">
            <mat-option *ngFor="let sort of sorts" [value]="sort.index">
              {{sort.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="lg:basis-full basis-full ml-auto sm:basis-auto">
        <b>{{'dialog.type' | translate}} </b><span class="light"> ({{'dialog.requir' | translate}})</span>
        <div class="mt-3 pb-12 type">
          <span [class.typeSelected]="typeSelected=='hoodie'" (click)="typeSelected='hoodie'">HOODIE</span>
          <span class="ml-1" [class.typeSelected]="typeSelected=='college'" (click)="typeSelected='college'">COLLEGE</span>
        </div>
      </div>
    </div>
    <div class="flex shop mb-6">
      <input min="1" class="basis-2/12" value="1" type="number" name="" id="">
      <button class="basis-10/12"><i class="fas fa-shopping-cart"></i> {{'dialog.cart' | translate}}</button>
    </div>
    <div class="flex mb-6">
      <div class="crem"><i class="far fa-heart"></i> {{'dialog.wish' | translate}}</div>
      <div class="ml-auto whitespace-nowrap"><i class="fab fa-facebook-f"></i><i class="fab fa-twitter ml-2"></i></div>
    </div>
    <div class="footer">
      <div>
        <b>{{'dialog.category' | translate}}:</b><span class="mute"> {{category}}</span>
      </div>
      <div>
        <b>{{'dialog.tag' | translate}}:</b><span class="mute">  Leisure,Elegant</span>
      </div>
    </div>
  </section>
</article>
