$gray: #868e96;
$black: #212529;
$crem: #bcac76;
$light: #adb5bd;

//SWIPER
@import "~swiper/css";
@import "~swiper/css/free-mode";
@import "~swiper/css/navigation";
@import "~swiper/css/thumbs";

.dialogComponent {
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    width: 100%;
    height: 80%;
    @media only screen and (min-width:1024px){
      height: 58%;
    }
    @media only screen and (min-width:1200px){
      height: 80%;
    }
  }
  
  .mySwiper {
    box-sizing: border-box;
    padding: 20px 0;
    min-height: 25px;
    height: 18%;
    @media only screen and (min-width:1024px){
      height: 13%;
    }
    @media only screen and (min-width:1200px){
      height: 15%;
    }
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  //SWIPER END
  
  .mat-form-field-label-wrappe {
    display: none;
  }
  .drop-down {
    position: absolute !important;
    top: 36px !important;
    left: 8px;
    border-radius: 0 !important;
    max-width: none !important;
    width: 100%;
    @media only screen and (min-width: 1024px) {
      width: 300px;
    }
    @media only screen and (min-width: 1200px) {
      width: 450px;
    }
  }
  .mat-select-panel {
    padding: 3px 0 !important;
  }
  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: $crem;
    color: white;
  }
  .mat-option {
    line-height: 3em;
    height: 2.5em !important;
    color: $black;
    letter-spacing: 0.01em;
    width: 100%;
  }
  .mat-option-text {
    font-size: 0.85em;
    font-family: regular;
  }
  .crem {
    color: $crem;
    opacity: 1 !important;
  }
  .mute{
    color:$gray;
    line-height: 1.6;
  }
  .details {
    h2 {
      font-size: calc(1.325rem + 0.9vw);
      @media only screen and (min-width: 1200px) {
        font-size: 2rem !important;
      }
      margin-top: 4px;
      margin-bottom: 38px;
    }
    .stars {
      font-size: 13px;
      color: $gray;
      .fa-star{
        opacity: .3;
      }
    }
    .price{
      span{
        &:first-child{
          font-size: calc(1.275rem + .3vw);
          @media only screen and (min-width:1200px){
            font-size: 1.5rem;
          }
        }
        &:last-child{
          color:$gray;
          text-decoration: line-through;
        }
      }
    }
    .review{
      letter-spacing: .15em;
      font-size: .875rem;
      color:$gray;
    }
    
    b{
      font-family: regular;
    }
    .light{
      color:$light;
      font-size: .8rem;
    }
    //ABOUT SELECT
    .select {
      //REMOVE ITS DESIGN
      .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0;
      }
      .mat-select-arrow {
        display: none;
      }
      .mat-select-arrow-wrapper {
        display: block;
        &:hover {
          &::after {
            color: hsl(0, 0%, 60%);
          }
        }
        &::after {
          transition: 0.15s;
          content: "\f107";
          font-weight: 900;
          padding: 8px;
          font-family: "Font Awesome 5 Free";
          color: hsl(0, 0%, 80%);
        }
      }
      .mat-form-field-underline {
        display: none;
      }
      .mat-select-value {
        text-transform: uppercase;
        padding-left: 10px;
      }
      .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
        transform: translateY(10%);
      }
      .mat-form-field-wrapper {
        padding: 0;
      }
      .mat-form-field-appearance-fill {
        padding: 0;
      }
      .mat-form-field-infix {
        flex: none;
        border-top: none;
        //ADD CUSTOME DESIGN
        width: 200px;
        padding: 8px 4px 8px 8px;
        min-height: 38px;
      }
      .mat-form-field-wrapper {
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 1px;
        transition: 0.15s;
        &:hover {
          border: 1px solid hsl(0, 0%, 60%);
        }
        &:focus-within {
          border: 1px solid $crem;
          outline: 5px solid rgba($color: $crem, $alpha: 0.2);
          border-radius: 0;
        }
      }
      .mat-form-field-flex {
        background-color: transparent;
      }
      .mat-select-min-line {
        font-size: 12.8px;
        font-family: "medium";
        letter-spacing: 0.3em;
      }
    }
    .type{
      span{
        padding: .5rem .6rem;
        font-size: .7rem;
        letter-spacing: .3em;
        margin-bottom: 48px;
        &:first-child{
          background-color: $crem;
          color: #000;
          margin-right: 4px;
        }
        &:last-child{
          border: 2px solid $crem;
          color: $crem;
        }
      }
    }
    .shop{
      button{
        color: white;
        background-color: $black;
        padding: .375rem .75rem;
        line-height: 3;
        font-size: .75rem;
        letter-spacing: .3em;
      }
      input{
        border: 1px solid rgb(206, 212, 218);
        min-width: 0;
        padding: .5rem 1rem .5rem 1.5rem;
        color: $black;
      }
    }
    .footer{
      line-height: 1.6;
    }
  }
}
