<app-navbar [index]="false"></app-navbar>
<p class="pt-24 lg:pt-32"></p>
<header class="pt-24 pb-24 container mx-auto">
  <div class="mb-3">
    <span>{{'shopForm.home' | translate}} </span>
    <span class="bi bi-dash-lg"></span>
    <span> {{'shopForm.title' | translate}}</span>
  </div>
  <h1>{{'shopForm.title' | translate}}</h1>
  <p>{{'shopForm.address.p' | translate}}</p>
</header>
<main class="container flex flex-wrap mx-auto pb-10">
  <form [formGroup]="formshop" class="basis-full lg:basis-8/12 pr-4">
    <section class="grid tabbar grid-cols-1 lg:grid-cols-3 mb-14 rounded">
      <div class="active py-5 lg:rounded-l">
        <div class="text-center">{{'shopForm.tabs.address' | translate}}</div>
      </div>
      <div class="py-5">
        <div class="text-center lg:border-l">{{'shopForm.tabs.delivery' | translate}}</div>
      </div>
      <div class="py-5">
        <div class="text-center lg:border-l">{{'shopForm.tabs.compelete' | translate}}</div>
      </div>
    </section>
    <section>
      <h1>{{'shopForm.address.form.title' | translate}}</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8">
        <div class="">
          <label for="fullname">{{'shopForm.address.form.name' | translate}}</label>
          <input formControlName="name" required type="text" id="fullname" placeholder="Joe Black" />
        </div>
        <div class="">
          <label for="email">{{'shopForm.address.form.email' | translate}}</label>
          <input formControlName="email" type="text" id="email" placeholder="joe.black@gmail.com" />
        </div>
        <div class="">
          <label for="street">{{'shopForm.address.form.street' | translate}}</label>
          <input formControlName="street" type="text" id="street" placeholder="123 Main St." />
        </div>
        <div class="">
          <label for="city">{{'shopForm.address.form.city' | translate}}</label>
          <input formControlName="city" type="text" id="city" placeholder="City" />
        </div>
        <div class="">
          <label for="zip">{{'shopForm.address.form.zip' | translate}}</label>
          <input formControlName="zip" type="text" id="zip" placeholder="Postal code" />
        </div>
        <div class="">
          <label for="state">{{'shopForm.address.form.state' | translate}}</label>
          <input formControlName="state" type="text" id="state" placeholder="State" />
        </div>
        <div class="">
          <label for="phone">{{'shopForm.address.form.num' | translate}}</label>
          <input formControlName="number" type="tel" id="phone" placeholder="Phone Number" />
        </div>
      </div>
      <div class="mt-3">
        <label class="checkbox">
          {{'shopForm.address.form.check' | translate}}
          <input type="checkbox" />
          <span class="check"></span>
        </label>
      </div>
    </section>
    <div
      class="options flex flex-wrap lg:flex-nowrap justify-center mt-20 lg:mt-16 lg:mb-0 mb-12"
    >
      <span routerLink=".." class="inline-flex mx-auto lg:mx-0 items-center text-center mb-3 lg:mb-0 lg:basis-auto"
        ><i class="fas fa-angle-left"></i> {{'shopForm.address.back' | translate}}</span
      ><button [disabled]="!formshop.valid" routerLink="delivery" class="ml-auto text-center basis-full lg:basis-auto"
        >{{'shopForm.address.next' | translate}} <i class="fas fa-angle-right"></i
      ></button>
    </div>
  </form>
  <section class="basis-full lg:basis-4/12 lg:pl-4">
    <section class="order-summery rounded">
      <div class="p-4 header rounded-t"><b>{{'factor.head' | translate}}</b></div>
      <div class="body px-4 pt-6 pb-5">
        <p>
          {{'factor.desc' | translate}}
        </p>
        <div class="flex py-6 px-2 border-b">
          <span>{{'factor.order' | translate}}</span><span class="ml-auto gray">${{orderTotal}}</span>
        </div>
        <div class="flex py-6 px-2 border-b">
          <span>{{'factor.ship' | translate}}</span
          ><span class="ml-auto gray">$10.00</span>
        </div>
        <div class="flex py-6 px-2 border-b">
          <span>{{'factor.tax' | translate}}</span><span class="ml-auto gray">$0.00</span>
        </div>
        <div class="flex py-6 px-2">
          <span>{{'factor.total' | translate}}</span><span class="ml-auto total mt-3">${{total}}</span>
        </div>
      </div>
    </section>
  </section>
</main>
