<app-navbar [index]="false"></app-navbar>
<p class="pt-24 lg:pt-32"></p>
<header class="pt-24 pb-28 container mx-auto">
  <div class="mb-3">
    <span>Home </span>
    <span class="bi bi-dash-lg"></span>
    <span> Checkout</span>
  </div>
  <h1>Checkout</h1>
  <p>Please fill in your address.</p>
</header>
<main class="container flex flex-wrap mx-auto pb-10">
  <section class="basis-full lg:basis-8/12 pr-4">
    <section>
      <h1>Invoice address</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8">
        <div class="">
          <label for="fullname">Full Name</label>
          <input type="text" id="fullname" placeholder="Joe Black" />
        </div>
        <div class="">
          <label for="email">Email Address</label>
          <input type="text" id="email" placeholder="joe.black@gmail.com" />
        </div>
        <div class="">
          <label for="street">Street</label>
          <input type="text" id="street" placeholder="123 Main St." />
        </div>
        <div class="">
          <label for="city">City</label>
          <input type="text" id="city" placeholder="City" />
        </div>
        <div class="">
          <label for="zip">ZIP</label>
          <input type="text" id="zip" placeholder="Postal code" />
        </div>
        <div class="">
          <label for="state">State</label>
          <input type="text" id="state" placeholder="State" />
        </div>
        <div class="">
          <label for="phone">Phone Number</label>
          <input type="text" id="phone" placeholder="Phone Number" />
        </div>
      </div>
      <div class="mt-5">
        <input type="checkbox" name="" id="" /> Use a different shipping address
      </div>
    </section>
    <div
      class="options flex flex-wrap lg:flex-nowrap justify-center mt-8 lg:mt-16 lg:mb-0 mb-12"
    >
      <span class="basis-full text-center mb-5 lg:mb-0 lg:basis-auto"
        ><i class="fas fa-angle-left"></i> BACK</span
      ><span routerLink="delivery" class="ml-auto text-center basis-full lg:basis-auto"
        >CHOOSE DELIVERY METHOD <i class="fas fa-angle-right"></i
      ></span>
    </div>
  </section>
  <section class="basis-full lg:basis-4/12 lg:pl-4">
    <section class="order-summery rounded">
      <div class="p-4 header rounded-t"><b>Order summery</b></div>
      <div class="body px-4 pt-6 pb-5">
        <p>
          Shipping and additional costs are calculated based on values you have
          entered.
        </p>
        <div class="flex py-6 px-2 border-b">
          <span>Order Subtotal</span><span class="ml-auto gray">$560.00</span>
        </div>
        <div class="flex py-6 px-2 border-b">
          <span>Shipping and handling</span
          ><span class="ml-auto gray">$10.00</span>
        </div>
        <div class="flex py-6 px-2 border-b">
          <span>Tax</span><span class="ml-auto gray">$0.00</span>
        </div>
        <div class="flex py-6 px-2">
          <span>Total</span><span class="ml-auto total mt-3">$570.00</span>
        </div>
      </div>
    </section>
  </section>
</main>
