<nav class="w-full">
  <section
    class="sm:columns-2 md:columns-3 px-4 py-4 lg:px-12 fs-14 flex align-items"
  >
    <div class="hidden md:inline-flex items-center w-full">
      <i class="fab fa-facebook-f mx-1 inline-block"></i>
      <i class="fab fa-twitter mx-1 inline-block"></i>
      <span class="ml-5 mr-6 inline-block"
        ><i class="bi bi-telephone text-lg"></i> 020-800-456-747</span
      >
    </div>
    <div class="md:justify-center inline-flex items-center w-full">
      Free in-store delivery
    </div>
    <div class="justify-end inline-flex items-center w-full">
      <button
        mat-button
        [matMenuTriggerFor]="lang"
        class="hidden sm:inline-block px-4 border-r"
      >
        English <i class="fas fa-caret-down"></i>
      </button>
      <mat-menu class="mt-4" #lang="matMenu" xPosition="before">
        <button mat-menu-item class="mat-nav-item">German</button>
        <button mat-menu-item class="mat-nav-item">French</button>
      </mat-menu>
      <button
        mat-button
        [matMenuTriggerFor]="usd"
        class="hidden sm:inline-block pl-4"
      >
        USD <i class="fas fa-caret-down"></i>
      </button>
      <mat-menu
        class="mt-4"
        #usd="matMenu"
        xPosition="before"
        yPosition="below"
      >
        <button mat-menu-item class="mat-menu-item">EUR</button>
        <button mat-menu-item class="mat-menu-item">GBP</button>
      </mat-menu>
    </div>
  </section>
  <section
    style="
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.04),
        0 4px 6px -4px rgb(0 0 0 / 0.04);
    "
    class="py-4"
  >
    <section class="px-4 lg:px-12 flex items-center">
      <span class="w-full py-2 lg:w-auto lg:mr-4">Varkala</span>
      <ul class="hidden lg:block">
        <li [matMenuTriggerFor]="home" class="inline-block p-2 pr-2">
          Home <i class="fas text-xs fa-angle-down"></i>
        </li>
        <mat-menu class="mt-4 py-2" #home="matMenu">
          <button mat-menu-item class="mat-submenu-item">Home 1 - Fashion</button>
          <button mat-menu-item class="mat-submenu-item">Home 2 - Fashion</button>
          <button mat-menu-item class="mat-submenu-item">Home 3 - Design <b class="bg-yellow-100 text-yellow-600 inline-block p-1 rounded ml-1 fs-10">New</b></button>
          <button mat-menu-item class="mat-submenu-item">Home 4 - Design <b class="bg-yellow-100 text-yellow-600 inline-block p-1 rounded ml-1 fs-10">New</b></button>
        </mat-menu>
        <li [matMenuTriggerFor]="shop" class="inline-block p-2 pr-2">
          Shop <i class="fas text-xs fa-angle-down"></i>
        </li>
        <mat-menu class="mt-4 p-0" #shop="matMenu">
          <section class="mat-shop">
            <div class="mat-shop-item p-12">
              <b class="py-2 inline-block">Shop pages</b>
              <span>Full width</span>
              <span>Full width with category Menu</span>
              <span>Full width with big products</span>
              <span>Fixed width</span>
              <span>Fixed width & sidebar</span>
              <span class="withNew">Fixed width & masonry Layout <b class="bg-yellow-100 text-yellow-600 inline-block p-1 rounded ml-1 fs-10">New</b></span>
              <span>Subcategories</span>
            </div>
            <div class="mat-shop-item p-12">
              <b class="py-2 inline-block">Product pages</b>
              <span>Product with sticky info</span>
              <span>Product with background</span>
              <span>product standard</span>
            </div>
            <div style="background: url('../assets/img/shop-menu.jpg') no-repeat center ;background-size: cover;width: 249px;"></div>
          </section>
        </mat-menu>
        <li [matMenuTriggerFor]="icons" class="inline-block p-2 pr-2">
          Icons <i class="fas text-xs fa-angle-down"></i>
        </li>
        <mat-menu class="mt-4 p-0" #icons="matMenu">
          <section class="mat-icons">
            <section class="main columns-6 pt-12 px-6">
              <div>
                <img width="48px" src="../assets/icon/trousers.png" alt="">
                <h6>Trousers</h6>
              </div>
              <div>
                <img width="48px" src="../assets/icon/jacket.png" alt="">
                <h6>Jackets</h6>
              </div>
              <div>
                <img width="48px" src="../assets/icon/tshirt.png" alt="">
                <h6>T-Shirts</h6>
              </div>
              <div>
                <img width="48px" src="../assets/icon/shirt.png" alt="">
                <h6>Shirts</h6>
              </div>
              <div>
                <img width="48px" src="../assets/icon/pullover.png" alt="">
                <h6>Pullovers</h6>
              </div>
              <div>
                <img width="48px" src="../assets/icon/scarf.png" alt="">
                <h6>Scarfs</h6>
              </div>
              <div>
                <img width="48px" src="../assets/icon/shorts.png" alt="">
                <h6>Shorts</h6>
              </div>
              <div>
                <img width="48px" src="../assets/icon/underwear.png" alt="">
                <h6>Underwear</h6>
              </div>
              <div>
                <img width="48px" src="../assets/icon/watches.png" alt="">
                <h6>Watches</h6>
              </div>
              <div>
                <img width="48px" src="../assets/icon/bags.png" alt="">
                <h6>Bags</h6>
              </div>
              <div>
                <img width="48px" src="../assets/icon/cap.png" alt="">
                <h6>Caps</h6>
              </div>
              <div>
                <img width="48px" src="../assets/icon/accessories.png" alt="">
                <h6>Accessories</h6>
              </div>
            </section>
            <section class="bg-yellow-600 p-4 text-center fs-14 footer">
              <p>Don't miss our biggest sales this year. Use the code 'SUMMER35' at checkout until Jun. 15!</p>
            </section>
          </section>
        </mat-menu>
        <li class="inline-block p-2 pr-2">
          Pages <i class="fas text-xs fa-angle-down"></i>
        </li>
      </ul>
      <form class="ml-auto mr-24 hidden lg:block">
        <div id="searchBox" class="inline-flex flex-nowrap items-center">
          <input
            style="height: 40px"
            placeholder="Search"
            class="border-b inline-block py-1 pr-3 pl-4"
            type="text"
          />
          <i
            style="height: 39px"
            class="fas fa-search border-b inline-flex items-center py-1 px-3 cursor-pointer"
          ></i>
        </div>
      </form>
      <ul class="hidden lg:block">
        <li class="inline-block"><i style="font-size: 27px;" class="far mr-2 fa-user"></i></li>
        <li class="inline-block">
          <span matBadge="1" style="font-size: 27px;" class="far ml-3 fa-heart"></span>
        </li>
        <li class="inline-block">
          <span matBadge="6"style="font-size: 27px;"  class="bi ml-3 bi-bag"></span>
        </li>
        <li class="inline-block">
          <i
            (click)="drawer.toggle()"
            style="font-size: 27px;" class="fas ml-3 fa-align-left cursor-pointer"
          ></i>
        </li>
      </ul>
      <div class="lg:hidden w-full text-center">
        <i class="far text-2xl mr-2 fa-user"></i>
        <span matBadge="1" class="far text-2xl ml-3 fa-heart"></span>
        <span matBadge="6" class="bi text-2xl ml-3 bi-bag"></span>
      </div>
      <div class="lg:hidden w-full text-right">
        <i
          (click)="responsiveMenu()"
          class="fas text-2xl ml-3 mr-4 fa-align-left cursor-pointer"
        ></i>
      </div>
    </section>
    <section #contMenu id="responsiveMenu" class="px-4">
      <ul class="mt-7">
        <li style="height: 42px" class="flex py-2 items-center">
          Home <i class="fas ml-auto mr-5 text-xs fa-angle-down"></i>
        </li>
        <li style="height: 42px" class="flex py-2 items-center">
          Shop <i class="fas ml-auto mr-5 text-xs fa-angle-down"></i>
        </li>
        <li style="height: 42px" class="flex py-2 items-center">
          Icons <i class="fas ml-auto mr-5 text-xs fa-angle-down"></i>
        </li>
        <li style="height: 42px" class="flex py-2 items-center">
          Pages <i class="fas ml-auto mr-5 text-xs fa-angle-down"></i>
        </li>
      </ul>
      <form class="mt-9 mb-5">
        <div id="searchResponsive" class="inline-flex flex-nowrap items-center">
          <input
            style="height: 40px"
            placeholder="Search"
            class="border-b inline-block py-1 pr-3 pl-4"
            type="text"
          />
          <i
            style="height: 40px"
            class="fas fa-search border-b inline-flex items-center py-1 px-3 cursor-pointer"
          ></i>
        </div>
      </form>
    </section>
  </section>
</nav>
<mat-drawer-container class="example-container" autosize [hasBackdrop]="true">
  <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
    <div class="flex justify-end p-4">
      <i (click)="drawer.toggle()" class="fas text-3xl px-2 fa-times"></i>
    </div>
    <div class="p-12 pt-4">
      <h5 class="font-bold">Varkala</h5>
      <ul class="mb-12">
        <li class="py-3">Home</li>
        <li class="py-3">Link</li>
        <li class="py-3">Disabled</li>
        <li class="py-3">Dropdown link <i class="fas fa-caret-down"></i></li>
      </ul>
      <div class="flex items-center mb-6">
        <i class="fab mr-2 fa-facebook-f inline-block"></i>
        <i class="fab mr-2 fa-twitter inline-block"></i>
        <span class="inline-block"
          ><i class="mr-2 bi bi-telephone text-lg"></i> 020-800-456-747</span
        >
      </div>
      <p class="text-sm">
        Samsa was a travelling salesman - and above it there hung a picture that
        he had recently cut out of an illustrated magazine and housed in a nice,
        gilded frame.
      </p>
    </div>
  </mat-drawer>
</mat-drawer-container>
