.mat-nav-item {
  padding: 0 24px !important;
  display: flex;
  align-items: center;
  width: 160px;
  height: 35px;
}
.mat-submenu-item {
  padding: 0 24px !important;
  display: flex;
  align-items: center;
  height: 35px;
  b {
    line-height: normal;
  }
  &:hover {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.592);
  }
}
#searchBox:hover > input,
#searchBox:hover > i {
  border-bottom-color: black;
  transition: 0.5s;
}
#searchBox input:focus {
  border-bottom-color: black;
  transition: 0.5s;
}
#searchBox {
  overflow-x: hidden;
  width: 265px;
  input {
    width: 0;
    animation: searchBox 1s ease-out 0.2s forwards;
  }
  i {
    width: 48px;
  }
}
@keyframes searchBox {
  from {
    width: 0px;
  }
  to {
    width: 217px;
  }
}
#searchResponsive {
  overflow-x: hidden;
  width: 100%;
  input {
    width: calc(100% - 50px);
  }
  i {
    width: 50px;
  }
}
#searchResponsive:hover > input,
#searchResponsive:hover > i {
  border-bottom-color: black;
  transition: 0.5s;
}
#searchResponsive input:focus {
  border-bottom-color: black;
  transition: 0.5s;
}
#responsiveMenu {
  height: 0;
  overflow-y: hidden;
}

.example-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
  background-color: transparent;
}
.example-sidenav {
  width: 500px;
  pointer-events: all;
  h5 {
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: 900;
  }
  ul > li {
    font-weight: 700;
  }
  .fa-times {
    transform-origin: 50% 50%;
    transition: 0.5s;
    cursor: pointer;
  }
  .fa-times:hover {
    transform: rotateZ(90deg);
  }
}
.mat-shop {
  display: flex;
}
.mat-shop-item {
  font-size: 14px;
  white-space: nowrap;
  span:not(.withNew) {
    display: block;
  }
  span {
    padding: 6.4px 0 6.4px 0;
    color: rgba(0, 0, 0, 0.463);
  }
}
.mat-icons {
  & > .main {
    margin: auto;
    & > div {
      text-align: center;
      padding: 0 15px 0 0;
      margin-bottom: 48px;
      & > img {
        margin: auto auto 8px auto;
      }
      h6 {
        font-size: 16px;
        margin: auto auto 8px auto;
      }
    }
  }
  & > .footer {
    p {
      margin-bottom: 0;
    }
  }
}
.submenu-page {
  width: 98.5%;
  left: 0.75%;
  @media only screen and (min-width: 1300px) {
    width: 1299px;
    left: 50%;
    transform: translateX(-50%);
  }
  & > section {
    margin-left: 15px;
    margin-right: 15px;
    & > div {
      & > span,
      & > b {
        display: block;
      }
      & > span {
        padding-bottom: 5px;
        font-size: 12.8px;
        b {
          font-size: 9.6px;
          padding: 0px 6.72px;
        }
      }
    }
  }
  & > section:first-child {
    margin-left: 0;
  }
  & > section:last-child {
    margin-right: 0;
  }
}
#pageSub {
  position: absolute;
  top: 176px;
  opacity: 0;
  pointer-events: none;
  transition: top 0.2s;
  box-shadow: 0 0px 10px 6px rgba(0, 0, 0, 0.08);
  height: 0;
  overflow-y: hidden;
}
#togglePage{
  & > i {
    transform: rotate(0deg);
    transition: 0.2s;
  }}
#togglePage:focus{
  & > i {
    transform: rotate(180deg);
    transition: 0.2s;
  }
  & ~ #pageSub {
    top: 128px;
    opacity: 1;
    pointer-events: all;
    height: auto;
  }
}
.menu-cont > li {
  cursor: pointer;
}
.angle-0 {
  transform: rotate(0deg);
  transition: 0.2s;
}
.angle-180 {
  transform: rotate(180deg);
  transition: 0.2s;
}
