<nav>
  <i class="fab fa-facebook-f inline-block"></i>
  <i class="fab fa-twitter inline-block"></i>
  <i class="bi bi-telephone inline-block">020-800-456-747</i>
  Free in-store delivery
  <button mat-button [matMenuTriggerFor]="lang">English<i class="fas fa-caret-down"></i></button>
  <mat-menu #lang="matMenu">
    <button mat-menu-item>German</button>
    <button mat-menu-item>French</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="usd">USD<i class="fas fa-caret-down"></i></button>
  <mat-menu #usd="matMenu">
    <button mat-menu-item>EUR</button>
    <button mat-menu-item>GBP</button>
  </mat-menu>
  
</nav>
