$gray: #868e96;
$black: #212529;
$crem: #bcac76;
.crem {
  color: $crem;
}
.gray{
  color: $gray;
}
.bg-red{
  background-color: #dc3545;
}
.bg-black{
  background-color: $black;
}
.bg-crem{
  background-color: $crem;
}
header {
  padding-left: 15px;
  div > span {
    font-size: 14px;
    letter-spacing: 0.01em;
  }
  span:first-child {
    color: $crem;
  }
  span:nth-child(3) {
    color: $gray;
  }
  span:nth-child(2),
  p {
    color: $gray;
    font-size: 1.25rem;
  }
  h1 {
    font-size: 3.5em;
    line-height: 1;
    margin-bottom: 20px;
    @media only screen and (max-width: 992px) {
      font-size: 1.25em;
    }
  }
}