<article
  class="product-list mt-28 container-fluid"
>
  <section
    class="flex flex-wrap sm:justify-start justify-center nav mb-9"
  >
    <span class="mr-2" (click)="productFilter('all')">All Products</span>
    <span class="mr-2 mute" (click)="productFilter('cloth')">Clothing</span>
    <span class="mr-2 mute" (click)="productFilter('bag')">Bags</span>
    <span class="mr-2 mute" (click)="productFilter('underwear')">Underwear</span>
    <span class="mr-2 mute" (click)="productFilter('ex')">Accessories</span>
    <span routerLink="/category-full"
      class="block sm:inline sm:basis-auto basis-full text-center sm:mt-0 mt-7 sm:ml-auto"
      >ALL PRODUCTS</span
    >
  </section>
  <section
    class="grid xl:grid-cols-6 md:grid-cols-3 grid-cols-2 gap-x-8 gap-y-5"
  >
  <app-item *ngFor="let item of products" [data]="item"></app-item>   
  </section>
</article>