<app-navbar [index]="false"></app-navbar>
<p class="pt-24 lg:pt-32"></p>
<header class="pt-20 pb-24 container mx-auto">
  <div class="mb-3">
    <span>{{'security.home' | translate}} </span>
    <span class="bi bi-dash-lg"></span>
    <span> {{'security.title' | translate}}</span>
  </div>
  <h1>{{'security.title' | translate}}</h1>
  <p>{{'security.p' | translate}}</p>
</header>
<main class="flex flex-wrap container mx-auto pb-12">
  <section class="lg:basis-5/12">
    <div>
      <div class="header px-12 py-6">
        <b>{{'security.login.head' | translate}}</b>
      </div>
      <div class="body p-12">
        <p class="title">{{'security.login.ask' | translate}}</p>
        <p>
          {{'security.login.p' | translate}}
        </p>
        <div class="hr mt-6 mb-7"></div>
        <p style="color: red;" *ngIf="information">{{'security.login.warn' | translate}}</p>
        <form
            (ngSubmit)="logIn(loginEmail.value,loginPassword.value)"
          [formGroup]="LoginForm"
        >
          <label for="Email" class="mb-2">{{'security.login.email' | translate}}</label>
          <input
            
            formControlName="email"
            class="w-full mb-6"
            type="email"
            id="Email"
            #loginEmail
            required
          />
          <label for="Password" class="mb-2">{{'security.login.pass' | translate}}</label>
          <input
            
            formControlName="password"
            class="w-full mb-6"
            type="password"
            id="Password"
            #loginPassword
            required
          />
          <button [disabled]="!LoginForm.valid" type="submit">
            <i class="fas fa-sign-in-alt mr-3"></i>{{'security.login.btn' | translate}}
          </button>
        </form>
      </div>
    </div>
  </section>
  <section class="lg:basis-6/12">
    <div class="lg:ml-auto custom-width">
      <div class="header px-12 py-6">
        <b>{{'security.sign.head' | translate}}</b>
      </div>
      <div class="body p-12">
        <p class="title">{{'security.sign.ask' | translate}}</p>
        <p>
          {{'security.sign.p' | translate}}
        </p>
        <p>
          {{'security.sign.p2.txt1' | translate}}
          <span class="gold">{{'security.sign.p2.gold' | translate}}</span>{{'security.sign.p2.txt2' | translate}}</p>
        <div class="hr mt-6 mb-7"></div>
        <form (ngSubmit)="registery(registerName.value,registerEmail.value,registerPassword.value)" [formGroup]="registerForm">
          <label class="mb-2" for="name">{{'security.sign.name' | translate}}</label>
          <input
            type="text"
            formControlName="name"
            id="name"
            #registerName
            class="mb-3 w-full"
            required
          />
          <p [hidden]="registerForm.controls['name'].status=='VALID'">{{'security.sign.errors.name' | translate}}</p>
          <label class="mb-2 mt-5" for="email">{{'security.sign.email' | translate}}</label>
          <input
            required
            [ngClass]="emailCheck ? 'mb-6' : 'mb-3'"
            class="w-full"
            type="email"
            id="email"
            #registerEmail
            (blur)="newEmail(registerEmail.value)"
            formControlName="email"
          />
          <p class="mb-3" [hidden]="emailCheck">{{'security.sign.errors.email' | translate}}</p>
          <label class="mb-2" for="password">{{'security.sign.pass' | translate}}</label>
          <input
            formControlName="password"
            required
            class="mb-6 w-full"
            type="password"
            id="password"
            #registerPassword
          />
          <p class="passwarn">
            <span *ngIf="registerForm.get('password')?.errors?.['passLength']">{{'security.sign.errors.pass.length' | translate}}</span>
            <span *ngIf="registerForm.get('password')?.errors?.['number']">{{'security.sign.errors.pass.num' | translate}}</span>
            <span *ngIf="registerForm.get('password')?.errors?.['upper']">{{'security.sign.errors.pass.up' | translate}}</span>
            <span *ngIf="registerForm.get('password')?.errors?.['lower']">{{'security.sign.errors.pass.low' | translate}}</span>
            <span *ngIf="registerForm.get('password')?.errors?.['symbol']">{{'security.sign.errors.pass.symbol' | translate}}</span>
          </p>
          <button type="submit" [disabled]="!registerForm.valid">
            <i class="far fa-user mr-3"></i>{{'security.sign.btn' | translate}}
          </button>
        </form>
      </div>
    </div>
  </section>
</main>
