<swiper  style="position: absolute;top: 0;"
[pagination]="{
    dynamicBullets: true
}"
[autoplay]="{
  delay: 2500,
  disableOnInteraction: false
}"
[speed]="2500"
[navigation]="true" class="mySwiper">
  <ng-template swiperSlide><div style="width: 100%;height: 100vh;background-image: url('../../assets/img/slider1.jpg');background-position: right top;background-size: cover;background-repeat: no-repeat;"></div></ng-template>
  <ng-template swiperSlide><div style="width: 100%;height: 100vh;background-image: url('../../assets/img/slider2.jpg');background-position: center;background-size: cover;background-repeat: no-repeat;"></div></ng-template>
  <ng-template swiperSlide><div style="width: 100%;height: 100vh;background-image: url('../../assets/img/slider3.jpg');background-position: center;background-size: cover;background-repeat: no-repeat;"></div></ng-template>
</swiper>
