@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";
$gray: #868e96;
$black: #212529;
$crem:#bcac76;
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev,.swiper-button-next{
  display: none;
    opacity: .3;
    color: #212529;
    transition: .2s;
    &:hover{
        opacity: 1;
    }
    @media only screen and (min-width:992px){
      display: block;
    }
}
.swiper-pagination-bullet-active {
    background: #bcac76;
}
//END SWIPER
.slide-cont{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  &:not(.second){
    padding: 0 15px;
    @media only screen and (min-width:1024px) {
      padding: 0;
    }
  }
  .text-mute{
    color:$gray;
    font-size: 17px;
    line-height: 1.5;
  }
  h1{
    font-size: calc(1.625rem + 4.5vw);
    line-height: 1;
    margin-bottom: 0;
    color: $black;
    @media only screen and (min-width:1200px){
      font-size: 5rem;
    }
  }
  .p-thin{
    &:not(.third){color: $black;}
    letter-spacing: .3em;
    font-weight: lighter;
    margin-bottom: 0;
  }
  .third{
    color:$crem;
  }
  button{
    background-color: $black;
    color: white;
    padding: 8.4px 12px;
    font-weight: 500;
    letter-spacing: .3em;
    font-size: 13px;
  }
}
.second{
  justify-content: center;
  text-align: center;
}