.footer-cont-items{
    span , b{
        display: block;
    }
    span,p{
        color:#868e96;
    }
    
    p{
        margin-bottom: 16px;
    }
    #emailBox:hover > input,
    #emailBox:hover > i {
    border-bottom-color: black;
    transition: 0.5s;
    }
    #emailBox input:focus {
    border-bottom-color: black;
    transition: 0.5s;
    }
    #emailBox {
    overflow-x: hidden;
    width: 100%;
    input {
        width: calc(100% - 48px);
    }
    i {
        width: 48px;
        color:#868e96
    }
    }
}
.footer{
    span{
        color:#adb5bd;
    }
}