.footer-cont-items{
    li , b{
        display: block;
    }
    li,p{
        color:#868e96;
    }
    
    p{
        margin-bottom: 16px;
    }
    #emailBox:hover > input,
    #emailBox:hover > i {
    border-bottom-color: black;
    transition: 0.5s;
    }
    #emailBox input:focus {
    border-bottom-color: black;
    transition: 0.5s;
    }
    #emailBox {
    overflow-x: hidden;
    width: 100%;
    input {
        width: calc(100% - 48px);
    }
    i {
        width: 48px;
        color:#868e96
    }
    }
}
.footer{
    span{
        color:#adb5bd;
        font-size: 14px;
    }
}
@media only screen and (max-width:1024px){
    .footer-cont-items{
        &>b{
            display: flex;
            &>span{
                display: flex;
                justify-content: center;
                align-items: center;
                .hor,.ver{
                    position: absolute;
                    background-color: #212529;
                    left: 50%;top: 50%;
                    transform: translate(-50%,-50%);
                    transition: .5s;
                }
            }
            .hor{
                width: 24px;
                height: 2px;
            }
            .ver{
                width: 2px;
                height: 24px;
            }
        }
        ul{
            overflow-y: hidden;
            white-space: nowrap;
            height: 0;
            transition: .25s;
        }
        &>b:focus{
            & ~ ul{height: 140px;}
            &>span{
                .hor{
                    transform: translate(-50%,-50%) rotate(180deg);
                }
                .ver{
                    transform: translate(-50%,-50%) rotate(90deg);
                }
            }
        }
    }
}