<footer class="mx-auto container pt-24">
    <section class="flex flex-row">
        <section class="basis-6/12 footer-cont-items pr-24">
            <b class="mb-6">Be in touch</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
            <form class="w-full">
                <div id="emailBox" class="inline-flex flex-nowrap items-center">
                  <input
                    
                    style="height: 40px;"
                    placeholder="Your Email Address"
                    class="border-b inline-block py-1 pr-3 pl-4"
                    type="text"
                  />
                  <i
                    style="height: 40px"
                    class="far fa-envelope text-3xl border-b inline-flex items-center py-1 px-3 cursor-pointer"
                  ></i>
                </div>
              </form>
        </section>
        <section class="px-4 basis-1/4 footer-cont-items">
            <b class="mb-6">Shop</b>
            <span class="mb-2">For Women</span>
            <span class="mb-2">For Men</span>
            <span class="mb-2">Stores</span>
            <span class="mb-2">Our Blog</span>
            <span class="mb-2">Shop</span>
        </section>
        <section class="px-4 basis-1/4 footer-cont-items">
            <b class="mb-6">company</b>
            <span class="mb-2">Login</span>
            <span class="mb-2">Register</span>
            <span class="mb-2">Wishlist</span>
            <span class="mb-2">Our Product</span>
            <span class="mb-2">Checkouts</span>
        </section>
        <section class="px-4 basis-1/4 footer-cont-items">
            <b class="mb-6">Your account</b>
            <span class="mb-2">Login</span>
            <span class="mb-2">Register</span>
            <span class="mb-2">Wishlist</span>
            <span class="mb-2">Our Product</span>
            <span class="mb-2">Checkouts</span>
        </section>
    </section>
    <section class="py-6 mt-28 flex footer">
        <span>&copy; 2022 Your company. All rights reserved.</span>
        <span class="ml-auto">Terms & Conditions</span>
        <span>Privacy & cookies</span>
        <span>Accessibility</span>
        <span>Customer Data Promise</span>
    </section>
</footer>