<footer class="mx-auto container pt-24">
  <section class="flex flex-col lg:flex-row">
    <section class="basis-6/12 footer-cont-items pr-24 lg:mb-0 mb-12">
      <b class="mb-6">Be in touch</b>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque
        temporibus.
      </p>
      <form class="w-full lg:mb-0 mb-4">
        <div id="emailBox" class="inline-flex flex-nowrap items-center">
          <input
            style="height: 40px"
            placeholder="Your Email Address"
            class="border-b inline-block py-1 pr-3 pl-4"
            type="text"
          />
          <i
            style="height: 40px"
            class="far fa-envelope text-3xl border-b inline-flex items-center py-1 px-3 cursor-pointer"
          ></i>
        </div>
      </form>
    </section>
    <section class="px-4 basis-1/4 footer-cont-items">
      <b tabindex="0" class="lg:mb-6 my-4 lg:my-0"
        >Shop
        <span class="relative ml-auto"
          ><i class="ver"></i><i class="hor"></i></span
      ></b>
      <ul>
        <li class="mb-2">For Women</li>
        <li class="mb-2">For Men</li>
        <li class="mb-2">Stores</li>
        <li class="mb-2">Our Blog</li>
        <li class="mb-2">Shop</li>
      </ul>
    </section>
    <section class="px-4 basis-1/4 footer-cont-items">
      <b tabindex="0" class="lg:mb-6 my-4 lg:my-0"
        >company
        <span class="relative ml-auto"
          ><i class="ver"></i><i class="hor"></i></span
      ></b>
      <ul>
        <li class="mb-2">Login</li>
        <li class="mb-2">Register</li>
        <li class="mb-2">Wishlist</li>
        <li class="mb-2">Our Product</li>
        <li class="mb-2">Checkouts</li>
      </ul>
    </section>
    <section class="px-4 basis-1/4 footer-cont-items">
      <b tabindex="0" class="lg:mb-6 my-4 lg:my-0"
        >Your account
        <span class="relative ml-auto"
          ><i class="ver"></i><i class="hor"></i></span
      ></b>
      <ul>
        <li class="mb-2">Login</li>
        <li class="mb-2">Register</li>
        <li class="mb-2">Wishlist</li>
        <li class="mb-2">Our Product</li>
        <li class="mb-2">Checkouts</li>
      </ul>
    </section>
  </section>
  <section class="py-6 mt-28 lg:flex footer">
    <span class="text-center lg:text-left block mb-4"
      >&copy; 2022 Your company. All rights reserved.</span
    >
    <span class="lg:ml-auto mx-auto flex justify-center flex-wrap lg:text-left text-center">
      <span class="inline-block mx-1">Terms & Conditions</span>
      <span class="inline-block mx-1">Privacy & cookies</span>
      <span class="inline-block mx-1">Accessibility</span>
      <span class="inline-block mx-1">Customer Data Promise</span>
    </span>
  </section>
</footer>