<section class="conditions">
  <section class="flex flex-wrap items-center lg:py-24 py-12 container mx-auto">
    <div class="basis-full md:basis-2/4  lg:basis-1/4 ">
      <div class="cont-img">
        <img width="100%" src="../../assets/icon/fast-delivery.png" alt="">
      </div>
      <div class="cont-text">
        <b>{{'footer.term.deliver.title' | translate}}</b>
        <span>{{'footer.term.deliver.txt' | translate}}</span>
      </div>
    </div>
    <div class="basis-full md:basis-2/4  lg:basis-1/4 ">
      <div class="cont-img">
        <img width="100%" src="../../assets/icon/money-back.png" alt="">
      </div>
      <div class="cont-text">
        <b>{{'footer.term.money.title' | translate}}</b>
        <span>{{'footer.term.money.txt' | translate}}</span>
      </div>
    </div>
    <div class="basis-full md:basis-2/4  lg:basis-1/4 ">
      <div class="cont-img">
        <img width="100%" src="../../assets/icon/discount.png" alt="">
      </div>
      <div class="cont-text">
        <b>{{'footer.term.discount.title' | translate}}</b>
        <span>{{'footer.term.discount.txt' | translate}}</span>
      </div>
    </div>
    <div class="basis-full md:basis-2/4  lg:basis-1/4 ">
      <div class="cont-img">
        <img width="100%" src="../../assets/icon/customer-service.png" alt="">
      </div>
      <div class="cont-text">
        <b>020-800-456-747</b>
        <span>{{'footer.term.support.txt' | translate}}</span>
      </div>
    </div>
  </section>
</section>
<footer class="mx-auto container pt-24">
  <section class="flex flex-col lg:flex-row">
    <section class="basis-6/12 footer-cont-items lg:pr-12 xl:pr-24 lg:mb-0 mb-12">
      <b style="letter-spacing: .1em;" class="mb-6">{{'footer.main.contact.h' | translate}}</b>
      <p>
        {{'footer.main.contact.p' | translate}}
      </p>
      <form class="w-full lg:mb-0 mb-4">
        <div id="emailBox" class="inline-flex flex-nowrap items-center">
          <input
            style="height: 40px"
            [placeholder]="'footer.main.contact.holder' | translate"
            class="border-b inline-block py-1 pr-3"
            type="text"
          />
          <i
            style="height: 40px"
            class="far fa-envelope text-3xl border-b inline-flex items-center py-1 px-3 cursor-pointer"
          ></i>
        </div>
      </form>
    </section>
    <section class="pr-4 basis-1/4 footer-cont-items">
      <b tabindex="0" class="lg:mb-6 my-5 lg:my-0"
        >{{'footer.main.shop.h' | translate}}
        <span class="relative ml-auto"
          ><i class="ver"></i><i class="hor"></i></span
      ></b>
      <ul>
        <li *ngFor="let item of ('footer.main.shop.li' | translate)" class="mb-2">{{item}}</li>
      </ul>
    </section>
    <section class="pr-4 basis-1/4 footer-cont-items">
      <b tabindex="0" class="lg:mb-6 my-5 lg:my-0"
        >{{'footer.main.company.h' | translate}}
        <span class="relative ml-auto"
          ><i class="ver"></i><i class="hor"></i></span
      ></b>
      <ul>
        <li *ngFor="let item of ('footer.main.company.li' | translate)" class="mb-2">{{item}}</li>
      </ul>
    </section>
    <section class="pr-4 basis-1/4 footer-cont-items">
      <b tabindex="0" class="lg:mb-6 my-5 lg:my-0"
        >{{'footer.main.account.h' | translate}}
        <span class="relative ml-auto"
          ><i class="ver"></i><i class="hor"></i></span
      ></b>
      <ul>
        <li *ngFor="let item of ('footer.main.account.li' | translate)" class="mb-2">{{item}}</li>
      </ul>
    </section>
  </section>
  <section class="pt-6 pb-6 lg:pb-3 mt-28 lg:flex footer">
    <span style="line-height: 2;" class="text-center lg:text-left block mb-4"
      >&copy; {{'footer.copy' | translate}}</span
    >
    <span class="flex justify-center flex-wrap lg:ml-auto">
      <span *ngFor="let item of ('footer.links' | translate)" style="line-height: 1.6;" class="inline-block mx-1">{{item}}</span>
    </span>
  </section>
</footer>