<app-navbar [index]="false"></app-navbar>
<p class="pt-24 lg:pt-32"></p>
<header class="pt-24 pb-28 container mx-auto">
  <div class="mb-3">
    <span>{{'wishlist.home' | translate}} </span>
    <span class="bi bi-dash-lg"></span>
    <span> {{'wishlist.title' | translate}}</span>
  </div>
  <h1>{{'wishlist.title' | translate}}</h1>
  <p>
    {{'wishlist.p.txt1' | translate}} {{wishlist.length}} {{'wishlist.p.txt2' | translate}} <span class="crem">{{'wishlist.p.gold' | translate}}</span>
  </p>
</header>
<main class="container mx-auto pb-24">
    <section *ngFor="let item of wishlist;let first=first;let last=last" [ngClass]="{'pt-14':first,'pt-10':!first,'border-b':!last}" class="flex flex-wrap lg:flex-nowrap product lg:pt-8 pb-6 border-b">
        <span class="lg:hidden fas fa-times mb-1 hover:cursor-pointer" (click)="removeWish(item)"></span>
        <div class="basis-full lg:basis-5/12 flex first">
            <div class="img">
                <img src="../../{{item.image[0]}}" alt="">
            </div>
            <div class="flex ml-4 flex-col justify-center info">
                <b>{{item.name}}</b>
                <span>{{'wishlist.item.size' | translate}}: {{'wishlist.item.large' | translate}}</span>
                <span>{{'wishlist.item.color' | translate}}: {{'wishlist.item.green' | translate}}</span>
            </div>
        </div>
        <div class="hidden basis-7/12 lg:flex flex-row second">
            <div class="basis-1/6 flex items-center justify-center">
                <span>${{item.price}}</span>
            </div>
            <div class="basis-1/4 flex items-center">
              <span [ngClass]="[(item.status=='Fresh')?'badge-fresh':'',(item.status=='Out of stock')?'badge-out':'',(item.status=='Being restocked')?'badge-come':'',(item.status=='In stock')?'badge-in':'']" class="badge">{{item.status}}</span>
            </div>
            <div class="flex items-center justify-center">
                <span>{{'wishlist.item.cart' | translate}}</span>
            </div>
            <div class="basis-1/6 flex items-center">
                <span class="bi bi-x-lg hover:cursor-pointer" (click)="removeWish(item)"></span>
            </div>
        </div>
        <div class="third lg:hidden w-full pt-10 lg:pt-7">
            <div class="flex w-full">
                <span class="gray">{{'wishlist.item.price' | translate}}</span><span class="ml-auto">${{item.price}}</span>
            </div>
            <div class="flex w-full">
                <span class="gray">{{'wishlist.item.status' | translate}}</span><span class="bg-crem ml-auto">{{item.status}}</span>
            </div>
            <div class="flex mt-6">
                <span>{{'wishlist.item.cart' | translate}}</span>
            </div>
        </div>
    </section>

</main>
