<app-navbar [index]="false"></app-navbar>
<p class="pt-24 lg:pt-32"></p>
<header class="pt-24 pb-28 container mx-auto">
  <div class="mb-3">
    <span>{{'shopForm.home' | translate}} </span>
    <span class="bi bi-dash-lg"></span>
    <span> {{'shopForm.title' | translate}}</span>
  </div>
  <h1>{{'shopForm.title' | translate}}</h1>
  <p>{{'shopForm.delivery.p' | translate}}</p>
</header>
<main class="container flex flex-wrap mx-auto pb-10">
  <form [formGroup]="deliverForm" class="basis-full lg:basis-8/12 pr-4">
    <section class="grid tabbar grid-cols-1 lg:grid-cols-3 mb-14 rounded">
      <div class="py-5">
        <div class="text-center lg:border-r">{{'shopForm.tabs.address' | translate}}</div>
      </div>
      <div class="active py-5">
        <div class="text-center">{{'shopForm.tabs.delivery' | translate}}</div>
      </div>
      <div class="py-5">
        <div class="text-center lg:border-l">{{'shopForm.tabs.compelete' | translate}}</div>
      </div>
    </section>
    <section>
      <section class="cards grid md:grid-cols-2 grid-cols-1 gap-x-8">
        <div>
          <label class="rounded">
            <input required formControlName="deliver" value="upse"  type="radio">
            <div class="card">
              <div class="p-4 header rounded-t">{{'shopForm.delivery.options.day.name' | translate}}</div>
            <div class="body px-4 rounded-b py-3">
              <h1>$10.00</h1>
            <p>
              {{'shopForm.delivery.options.day.desc' | translate}}
            </p>
            </div>
            </div>
          </label>
        </div>
        <div>
          <label class="rounded">
            <input required formControlName="deliver" value="DHL"  type="radio">
           <div class="card">
            <div class="p-4 header rounded-t">{{'shopForm.delivery.options.dhl.name' | translate}}</div>
            <div class="body px-4 rounded-b py-3">
              <h1>$15.00</h1>
            <p>
              {{'shopForm.delivery.options.dhl.desc' | translate}}
            </p>
            </div>
           </div>
          </label>
        </div>
        <div>
          <label class="rounded">
            <input required formControlName="deliver" value="PPL"  type="radio">
            <div class="card">
              <div class="p-4 header rounded-t">{{'shopForm.delivery.options.ppl.name' | translate}}</div>
            <div class="body px-4 rounded-b py-3">
              <h1>$8.00</h1>
            <p>
              {{'shopForm.delivery.options.ppl.desc' | translate}}
            </p>
            </div>
            </div>
          </label>
        </div>
        <div>
          <label class="rounded">
            <input required formControlName="deliver" value="UPS"  type="radio">
            <div class="card">
              <div class="p-4 header rounded-t">{{'shopForm.delivery.options.ups.name' | translate}}</div>
            <div class="body px-4 rounded-b py-3">
              <h1>$20.00</h1>
            <p>
              {{'shopForm.delivery.options.ups.desc' | translate}}
            </p>
            </div>
            </div>
          </label>
        </div>
      </section>
    </section>
    <div
      class="options flex flex-wrap lg:flex-nowrap justify-center mt-8 lg:mt-12 lg:mb-0 mb-12"
    >
      <span routerLink=".." class="basis-full inline-flex items-center text-center mb-5 lg:mb-0 lg:basis-auto"
        ><i class="fas fa-angle-left"></i> {{'shopForm.delivery.back' | translate}}</span
      ><button [disabled]="!deliverForm.valid" routerLink="../confirm" class="ml-auto text-center basis-full lg:basis-auto"
        >{{'shopForm.delivery.next' | translate}} <i class="fas fa-angle-right"></i
      ></button>
    </div>
  </form>
  <section class="basis-full lg:basis-4/12 lg:pl-4">
    <section class="order-summery rounded">
      <div class="p-4 header rounded-t"><b>{{'factor.head' | translate}}</b></div>
      <div class="body px-4 pt-6 pb-5">
        <p>
          {{'factor.desc' | translate}}
        </p>
        <div class="flex py-6 px-2 border-b">
          <span>{{'factor.order' | translate}}</span><span class="ml-auto gray">$560.00</span>
        </div>
        <div class="flex py-6 px-2 border-b">
          <span>{{'factor.ship' | translate}}</span
          ><span class="ml-auto gray">$10.00</span>
        </div>
        <div class="flex py-6 px-2 border-b">
          <span>{{'factor.tax' | translate}}</span><span class="ml-auto gray">$0.00</span>
        </div>
        <div class="flex py-6 px-2">
          <span>{{'factor.total' | translate}}</span><span class="ml-auto total mt-3">$570.00</span>
        </div>
      </div>
    </section>
  </section>
</main>
