<app-navbar [index]="false"></app-navbar>
<p class="pt-24 lg:pt-32"></p>

<main class="pb-24">
    <div class="pt-24">
    </div>
    <section class="list-cont flex flex-wrap lg:flex-nowrap container-fluid mx-auto">
        <section class="order-2 lg:order-1 sidebar lg:pr-4 xl:pr-12">
            <app-sidebar (filters)="changeFilter($event)"></app-sidebar>
        </section>
        <section class="order-1 lg:order-2 lg:px-4 list">
            <header class="pb-14">
                <h1 style="line-height: 1.3em !important;">{{'category-full.main.h1' | translate}}</h1>
                <p>{{'category-full.main.p' | translate}}</p>
            </header>
            <section class="breadcrump mb-5">
                <span>{{'category-full.main.home' | translate}}  </span>
                <span class="bi bi-dash-lg"></span>
                <span>  {{'category-full.main.shop' | translate}}</span>
            </section>
            <app-list [input]="srcProduct" (sort)="changeSort($event)"></app-list>
        </section>
    </section>
</main>
