$gray: #868e96;
$black: #212529;
$crem: #bcac76;

header {
  line-height: 1.6;
  h1 {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
  p {
    color: $gray;
    font-size: 1.25rem;
  }
}
.list-cont {
  .sidebar{    
    flex-basis: 100%;
    @media only screen and (min-width:1024px){
      flex-basis: 24%;
    }
  }
  .list{
    flex-basis: 100%;
    @media only screen and (min-width:1024px){
      flex-basis: 76%;
    }
  }
  .breadcrump {
    span {
      font-size: 14px;
      letter-spacing: 0.01em;
    }
    span:first-child {
      color: $crem;
    }
    span:nth-child(3) {
      color: $gray;
    }
    span:nth-child(2),
    p {
      color: $gray;
    }
  }
}
.pagination{
  color: $gray;
  line-height: 1.6;
  span:focus,i:focus{
    background-color: #e9ecef;
    color: #968a5e;
    box-shadow: 0 0 0 0.25rem rgb(188 172 118 / 25%);
    &:hover{
      color: #968a5e;
    }
  }
  .active{
    color: #343a40;
    &:hover{
      cursor: default;
    }
  }
  span:hover,i:hover{
    color:#343a40;
    cursor: pointer;
    transition: .2s;
  }
  span{
    margin-right: 5px;
    padding: 12px;
  }
  i{
    padding: 25px;
    margin: 0 5px;
    font-size: 24px;
    &:last-child{
      margin-left: 0;
      margin-right: 5px;
    }
  }
}
