<app-navbar [index]="false"></app-navbar>
<p class="pt-24 lg:pt-32"></p>

<main class="pb-24">
    <div class="pt-28">
    </div>
    <section class="list-cont flex flex-wrap lg:flex-nowrap container-fluid mx-auto">
        <section class="order-2 lg:order-1 sidebar lg:pr-4 xl:pr-12">
            <app-sidebar></app-sidebar>
        </section>
        <section class="order-1 lg:order-2 lg:px-4 list">
            <header class="pb-14">
                <h1>Jackets and tops</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </header>
            <section class="breadcrump mb-5">
                <span>Home  </span>
                <span class="bi bi-dash-lg"></span>
                <span>  Shop</span>
            </section>
            <app-list></app-list>
        </section>
    </section>
</main>
