$gray: #868e96;
$black: #212529;
$crem: #bcac76;

header {
  line-height: 1.6;
  h1 {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
  p {
    color: $gray;
    font-size: 1.25rem;
  }
}
.list-cont {
  .sidebar{    
    flex-basis: 100%;
    @media only screen and (min-width:1024px){
      flex-basis: 24%;
    }
  }
  .list{
    flex-basis: 100%;
    @media only screen and (min-width:1024px){
      flex-basis: 76%;
    }
  }
  .breadcrump {
    span {
      font-size: 14px;
      letter-spacing: 0.01em;
    }
    span:first-child {
      color: $crem;
    }
    span:nth-child(3) {
      color: $gray;
    }
    span:nth-child(2),
    p {
      color: $gray;
    }
  }
}
