/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

*{margin: 0;padding: 0;}

@font-face {
  font-family: "regular";
  font-style: normal;
  font-weight: normal;
  src: local("Vremena Grotesk Regular"),
    url("./assets/font/VremenaGrotesk.woff") format("woff");
}
@font-face {
  font-family: "bold";
  font-style: normal;
  font-weight: normal;
  src: local("Vremena Grotesk Bold"),
    url("./assets/font/VremenaGroteskBold.woff") format("woff");
}
@font-face {
  font-family: "book";
  font-style: normal;
  font-weight: normal;
  src: local("Vremena Grotesk Book"),
    url("./assets/font/VremenaGroteskBook.woff") format("woff");
}
@font-face {
  font-family: "medium";
  font-style: normal;
  font-weight: normal;
  src: local("Vremena Grotesk Medium"),
    url("./assets/font/VremenaGroteskMedium.woff") format("woff");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "book" !important;
  font-weight: 100;
  font-size: 16px !important;
  color:#212529;
}
h1,h2,h3,h4,h5,h6{
  font-family: "bold" !important;
}
input:focus{
  outline: none;
}
.mat-badge-content{
  background-color: #bcac76 !important;
  top: -5px !important;
  width: 20px !important;
  height: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-menu-panel{
  max-width: none !important;
}
.mat-menu-content{
  padding: 0 !important;
}
.mat-expansion-panel-body {
  color: #868e96;
  padding: 0 !important;
}