/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

*{margin: 0;padding: 0;}

@font-face {
  font-family: "regular";
  font-style: normal;
  font-weight: normal;
  src: local("Vremena Grotesk Regular"),
    url("./assets/font/VremenaGrotesk.woff") format("woff");
}
@font-face {
  font-family: "bold";
  font-style: normal;
  font-weight: normal;
  src: local("Vremena Grotesk Bold"),
    url("./assets/font/VremenaGroteskBold.woff") format("woff");
}
@font-face {
  font-family: "book";
  font-style: normal;
  font-weight: normal;
  src: local("Vremena Grotesk Book"),
    url("./assets/font/VremenaGroteskBook.woff") format("woff");
}
@font-face {
  font-family: "medium";
  font-style: normal;
  font-weight: normal;
  src: local("Vremena Grotesk Medium"),
    url("./assets/font/VremenaGroteskMedium.woff") format("woff");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "book" !important;
  font-weight: 100;
  font-size: 16px !important;
  color:#212529;
}
h1,h2,h3,h4,h5,h6{
  font-family: "bold" !important;
}
input:focus{
  outline: none;
}
.mat-badge-content{
  background-color: #bcac76 !important;
  top: -5px !important;
  width: 20px !important;
  height: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-menu-panel{
  max-width: none !important;
}
.mat-menu-content{
  padding: 0 !important;
}
.mat-expansion-panel-body {
  color: #868e96;
  padding: 0 !important;
}
.ngx-slider-floor,.ngx-slider-ceil{
  color: red !important;
  display: none !important;
}
.ngx-slider-selection{
  background-color: #222222 !important;
  height: 1px !important;
}
.ngx-slider-pointer{
  background-color: #222222 !important;
  border-radius: 0 !important;
  width: 4px !important;
  height: 15px !important;
  transform: translateY(-50%) !important;
  border: none !important;
  outline: none !important;
  &::after{
    display: none !important;
  }
  &::focus,&::focus-within,&::focus-visible{
    width: 4px !important;
  height: 15px !important;
  border: none !important;
  outline: none !important;
  }
}
.ngx-slider .ngx-slider-bar-wrapper{
  padding-top: 0 !important;
}
.ngx-slider .ngx-slider-bar{
  height: 1px !important;
}
.ngx-slider-model-value,.ngx-slider-model-high{
  display: none !important;
}
.dialog{
  width: calc(100% - 1rem);
  .mat-dialog-container{
    padding: 1rem;
  }
  @media only screen and (min-width:640px){
    width: 600px !important;    
    min-width: 600px !important;
    max-width: 600px !important;
  }
  @media only screen and (min-width:1024px){
    width: 880px !important;
    min-width: 880px !important;
    max-width: 880px !important;
  }
  @media only screen and (min-width:1200px){
    width: 1140px !important;
    min-width: 1140px !important;
    max-width: 1140px !important;
  }
}