/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: font;
  font-style:normal;
  src: url("./assets/font/VremenaGrotesk.woff") format("woff");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: font !important;
  font-size: 14px;
}
